/*
  ____   ____    _     ____  _____    ____
 / ___| |  _ \  / \   / ___|| ____|  | ___|
 \___ \ | |_) |/ _ \ | |    |  _|    |___ \
  ___) ||  __// ___ \| |___ | |___    ___) |
 |____/ |_|  /_/   \_\\____||_____|  |____/

 space 5 ♦ CSS
 [Astrum Template]

*/

/*   Base settings
------- ------- ------- ------- ------- ------- ------- -------*/
/*   :: import ---   */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap');

/*   :: VARS ---   */
:root {
    /* Theme colors */
    --color-primary: #f85ab2;
    --color-secondary: #05e745;
    --color-accent: #1961af;
    --color-dark: #192a3e;
    --color-white: #ffffff;
    --color-neutral: #EFF2F6;
    --color-placeholder: #DFE4EA;
    --color-bg: #F7F9FA;
    --color-text-grey: #737373;

    /*Theme-shades*/
    --color-primary-light: #30406f;
    --color-primary-dark: #1a233b;
    --color-secondary-light: #0afc4c;
    --color-secondary-dark: #04cd3d;

    /* Fonts */
    --wf: 'Roboto', sans-serif;
    --wf2: 'Montserrat', sans-serif;
    --color-text-heading: var(--color-primary);
    --color-text: var(--color-dark);
    --color-text-accent: var(--color-accent);

    /* Fonts sizes */
    --size-text: 1rem;
    --size-text-note: 0.8125rem;
    --size-heading-xl: 3rem;
    --size-heading-l: 2.5rem;
    --size-heading-m: 2rem;
    --size-heading-s: 1.5rem;
    --size-heading-xs: 1.125rem;

    /* Project colors */
    --color-link: var(--color-primary);
    --color-link-hover: var(--color-accent);
    --color-link-active: var(--color-accent);

    /* Bg colors */

    /* SP5 DEV*/
    --color-sp5-dev-bg: #05e745;
    --color-sp5-dev-text: #222e4e;

    /* Interface */
    --color-border: rgba(0,0,0,0.4);
    --color-border-hover: var(--color-accent);
    --color-input-bg: var(--color-placeholder);
    --color-input-disabled-bg: #E1E6F9;
    --color-input-border: var(--color-placeholder);
    --color-input-text: var(--color-text);
    --color-label-text: var(--color-primary);
    --color-input-placeholder-text: var(--color-text-grey);
    --color-table-black: var(--color-text);
    --color-table-grey: var(--color-text-grey);
    --color-icon-grey: var(--color-text-grey);
    --color-icon--active: var(--color-accent);
    --thover: rgba(0, 0, 0, 0.1); /*transparent hover*/
    --trans: all 0.2s; /*transition delay*/

    /* UI colors */
    --color-yellow: #ffb946;
    --color-red: #f7685b;
    --color-green: #2ed47a;
    --color-blue: #104ae0;
    --color-purple: #885af8;

    /* Buttons */
    --color-btn-bg: var(--color-primary);
    --color-btn-border: var(--color-primary);
    --color-btn-text: var(--color-white);
    --color-btn-ghost-text: var(--color-text-grey);
    --color-btn-shadow: rgba(37, 193, 252, 0.4);

    /* Objects */
    --gf: 8px; /* grid flow */
    --gap: 16px; /* grid gap */
    --header-height: 48px;
    --wid: 1280px; /* max-width of content */
}

/*  TECH
------- ------- ------- ------- ------- ------- -------*/
* {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    color: var(--color-text);
    font-family: var(--wf), Helvetica, Arial, sans-serif;
    font-size: var(--size-text);
    background: var(--color-bg);
    margin: 0;
    padding: 0;
}

.wid {
    max-width: var(--wid);
    min-width: 748px;
    margin: 0 auto;
}

.wf {
    font-family: var(--wf);
}

.wf2 {
    font-family: var(--wf2);
}

.cimg {
    text-align: center;
}

.nwp {
    white-space: nowrap;
}

.hide-on-mobile {
    display: block;
}

.show-on-mobile {
    display: none;
}

.clicked-item {
    cursor: pointer;
    transition: all 0.2s;
    text-decoration: none;
}

.clicked-item:hover {
    transition: all 0.2s;
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .wid {
        max-width: 100%;
        min-width: 100%;
    }

    .hide-on-mobile {
        display: none;
    }

    .show-on-mobile {
        display: block;
    }
}

/* /Tech */

/* PADS
------- ------- ------- ------- ------- ------- ------- */
.pad-1 {
    width: 100%;
    height: 1px;
}

.pad-4 {
    width: 100%;
    height: 4px;
}

.pad-x1 {
    width: 100%;
    height: var(--gf);
}

.pad-x2 {
    width: 100%;
    height: calc(var(--gf) * 2);
}

.pad-x3 {
    width: 100%;
    height: calc(var(--gf) * 3);
}

.pad-x4 {
    width: 100%;
    height: calc(var(--gf) * 4);
}

.pad-x5 {
    width: 100%;
    height: calc(var(--gf) * 5);
}

.pad-x6 {
    width: 100%;
    height: calc(var(--gf) * 6);
}

.pad-x8 {
    width: 100%;
    height: calc(var(--gf) * 8);
}

/* /Pads */

img {
    max-width: 100%;
    height: auto;
}

a {
    color: var(--color-link);
    text-decoration: none;
    transition: var(--trans);
}

a:hover {
    color: var(--color-link-hover);
    transition: var(--trans);
}

/* todo везде установить одинаковый transition */

/*todo разобраться с псевдоклассами ссылок*/
/*

a:link {
    color: var(--color-link);
}

a:visited {
    color: var(--color-link);
}

a:active {
    color: var(--color-link);
}*/


/* SP5 GRID
------- ------- ------- ------- ------- ------- ------- */

.grid-wr {
    display: grid;
    grid-template-columns: 1fr minmax(320px, var(--wid)) 1fr;
}

.grid-a {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(248px, 1fr));
    grid-gap: var(--gap);
}

.grid-line {
    grid-column: 1/-1;
}

.grid-a240 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: var(--gap);
}

[class*='grid-c-'] {
    display: grid;
    grid-gap: var(--gap);
    align-items: start;
}

.grid-c-2 {
    grid-template-columns: 1fr 1fr;
}

.grid-c-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-c-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-c-5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-c-6 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-demo {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 768px) {
    [class*='grid-c-'] {
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }
}

/* /SP5 GRID */

/* BUTTONS
------- ------- ------- ------- ------- ------- -------*/
.btn, a.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--gf);
    padding: calc(var(--gf) * 1.5) calc(var(--gf) * 4);
    border-radius: var(--gf);
    border: 1px solid transparent;
    cursor: pointer;
    color: var(--color-btn-text);
    background: var(--color-btn-bg);
    transition: var(--trans);
    font-size: var(--size-text);
    line-height: 1;
    font-family: inherit;
}

.btn:hover {
    transition: var(--trans);
    background: var(--color-primary-dark);
    color: var(--color-btn-text);
}


/* btn svg */
.btn svg {
    fill: none;
    stroke: var(--color-btn-text);
    width: calc(var(--gf) * 3);
    height: calc(var(--gf) * 3);
    /*margin-right: var(--gf);*/
}

/* btn img */
.btn img {
    width: calc(var(--gf) * 3);
    height: calc(var(--gf) * 3);
    /*margin-right: var(--gf);*/
}

/* btn states */
.btn:focus-visible {
    outline: 1px solid var(--color-primary);
}

.btn:disabled {
    color: var(--color-text-grey);
    background: var(--color-neutral);
    cursor: auto;
    box-shadow: none;
}

/* btn sizes */
.btn--micro, a.btn--micro {
    padding: 0;
    font-size: var(--size-text-note);
    background: none;
    border: none;
    color: var(--color-icon-grey);
}

.btn--micro svg {
    width: calc(var(--gf) * 2);
    height: calc(var(--gf) * 2);
    stroke: var(--color-icon-grey);
}

.btn--micro:hover {
    color: var(--color-text);
    background: none;
}

.btn--micro:hover svg {
    stroke: var(--color-text);
}

.btn--s, a.btn--s {
    padding: var(--gf) calc(var(--gf) * 2);
    font-size: var(--size-text-note);
}

.btn--s svg {
    width: calc(var(--gf) * 2);
    height: calc(var(--gf) * 2);
}

.btn--l, a.btn--l {
    padding: calc(var(--gf) * 2) calc(var(--gf) * 6);
    font-size: var(--size-heading-xs);
    gap: calc(var(--gf) * 2);
}

.btn--l svg {
    width: calc(var(--gf) * 4);
    height: calc(var(--gf) * 4);
    /*margin-right: calc(var(--gf) * 2);*/
}

/* btn types */
.btn--ui, a.btn--ui {
    border: none;
    background: none;
    padding: var(--gf);
}

.btn--ui svg {
    stroke: var(--color-icon-grey);
    margin: 0;
}

.btn--ui:hover {
    background: var(--thover);
}

.btn--ghost, a.btn--ghost {
    background: transparent;
    color: var(--color-btn-ghost-text);
    border: 1px solid var(--color-btn-border);
}

.btn--ghost svg {
    stroke: var(--color-btn-ghost-text);
}

.btn--ghost:hover {
    background: var(--color-btn-bg);
    color: var(--color-btn-text);
    border-color: transparent;
}

.btn--ghost:hover svg {
    stroke: var(--color-btn-text);
}

.btn--shadow {
    box-shadow: 0 4px 8px 1px var(--color-btn-shadow);
}

.btn--shadow:hover {
    box-shadow: 0 8px 16px 2px var(--color-btn-shadow);
}

/* btn mobile */

/* btn group */

.btn-pan {
    display: flex;
    padding: calc(var(--gf) * 2) 0;
    margin: var(--gf) 0;
    gap: var(--gap);
}

.btn-pan--center {
    justify-content: center;
}

.btn-pan--right {
    justify-content: flex-end;
}

.btn-pan--col {
    flex-flow: column;
}

.btn-pan--col .btn {
    gap: var(--gap);
}

.btn-pan--col .btn:last-child {
    margin: 0;
}

/* btn controls ----- */

/* radio-group */
.sp-radio-group {
    display: inline-block;
    overflow: hidden;
}

.sp-radio-group__item {
    display: inline-block;
    float: left;
}

.sp-radio-group input[type=radio] {
    display: none;
}

.sp-radio-group label {
    display: inline-block;
    cursor: pointer;
    padding: calc(var(--gf) * 2) calc(var(--gf) * 4);
    /*line-height: 32px;*/
    border: 1px solid var(--color-btn-border);
    border-right: none;
    user-select: none;
}

.sp-radio-group .sp-radio-group__item:first-child label {
    border-radius: 8px 0 0 8px;
}

.sp-radio-group .sp-radio-group__item:last-child label {
    border-radius: 0 8px 8px 0;
    border: 1px solid var(--color-btn-border);
}

/* Checked */
.sp-radio-group input[type=radio]:checked + label {
    background: var(--color-btn-bg);
    color: var(--color-btn-text);
}

/* Hover */
.sp-radio-group label:hover {
    background: var(--color-btn-bg);
    color: var(--color-btn-text);
}

/* Disabled */
.sp-radio-group input[type=radio]:disabled + label {
    background: var(--color-neutral);
    color: var(--color-text-grey);
}

/* toggle */
.sp-toggle {
    display: inline-block;
    overflow: hidden;
}

.sp-toggle__item {
    float: left;
    display: inline-block;
}

.sp-toggle__item input[type=radio] {
    display: none;
}

.sp-toggle__item label {
    display: inline-block;
    padding: calc(var(--gf) * 2) calc(var(--gf) * 4);
    border: 1px solid var(--color-btn-border);
    border-right: none;
    cursor: pointer;
    user-select: none;
}

.sp-toggle .sp-toggle__item--off label {
    border-radius: 6px 0 0 6px;
}

.sp-toggle .sp-toggle__item--on label {
    border-radius: 0 6px 6px 0;
    border-right: 1px solid var(--color-btn-border);
}

/* Checked */
.sp-toggle .sp-toggle__item--off input[type=radio]:checked + label {
    background: var(--color-red);
}

.sp-toggle .sp-toggle__item--on input[type=radio]:checked + label {
    background: var(--color-green);
}

/* /BUTTONS */

/* SPACE FORMS
------- ------- ------- ------- ------- ------- ------- -------*/
input {
    accent-color: var(--color-primary);
}

.sf {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gf) / 2);
}

.sf__form {
    box-sizing: border-box;
}

.sf__fieldset {
    margin: 32px 0 0 0;
    border: 1px solid var(--color-border);
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.sf__legend {
    font-size: var(--size-heading-xs);
    color: var(--color-secondary);
}

.sf__line {
    margin: 8px 0;
}

.sf__label {
    display: flex;
    align-items: center;
    gap: calc(var(--gf) / 2);
    color: var(--color-label-text);
    font-size: var(--size-text);
}

.sf__label--col {
    flex-direction: column;
    align-items: flex-start;
}

.sf__label + .sf__input {
    margin-top: calc(var(--gf) / 2);
}

.sf__label + .sf__select {
    margin-top: calc(var(--gf) / 2);
}

.sf__label + .sf__textarea {
    margin-top: calc(var(--gf) / 2);
}

.sf__input, .sf__textarea, .sf__select {
    border: 1px solid transparent;
    background: var(--color-placeholder);
    color: var(--color-text);
    font-size: calc(var(--size-text) - 0.1rem);
    border-radius: 8px;
    width: 200px;
}

.sf__input {
    padding: 8px;
}

.sf__select {
    padding: 8px;
}

.sf__input:focus {
    outline: 2px solid var(--color-primary);
}

.sf__textarea:focus {
    outline: 2px solid var(--color-primary);
}

.sf__select:focus {
    outline: 2px solid var(--color-primary);
}

.sf__select option {
    padding: 8px;
}

.sf__input::placeholder {
    color: var(--color-input-placeholder-text);
    font-family: inherit;
}

.sf__textarea {
    padding: 8px;
    width: 100%;
}

.sf__textarea::placeholder {
    color: var(--color-input-placeholder-text);
    font-family: inherit;
}

.sf__input--m, .sf__select--m {
    width: 168px;
}

.sf__textarea--m {
    width: 75%;
}

.sf__input--s, .sf__select--s {
    width: 92px;
}

.sf__textarea--s {
    width: 50%;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type=checkbox],
    input[type=radio] {
        --active-inner: #fff;
        --focus: var(--color-accent);
        --disabled: #F6F8FF;
        --disabled-inner: #E1E6F9;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 21px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        border: 1px solid var(--bc, var(--color-input-border));
        background: var(--b, var(--color-white));
        transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }

    input[type=checkbox]:after,
    input[type=radio]:after {
        content: "";
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform 0.3s var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }

    input[type=checkbox]:checked,
    input[type=radio]:checked {
        --b: var(--color-primary);
        --bc: var(--color-primary);
        --d-o: .3s; /* delay opacity */
        --d-t: .6s; /* delay transform */
        --d-t-e: cubic-bezier(.2, .85, .32, 1.2); /* delay ease */
    }

    input[type=checkbox]:disabled,
    input[type=radio]:disabled {
        --b: var(--color-input-disabled-bg);
        cursor: not-allowed;
        opacity: 0.9;
    }

    input[type=checkbox]:disabled:checked,
    input[type=radio]:disabled:checked {
        --b: var(--color-input-disabled-bg);
        --bc: var(--color-input-border);
    }

    input[type=checkbox]:disabled + label,
    input[type=radio]:disabled + label {
        cursor: not-allowed;
    }

    input[type=checkbox]:hover:not(:checked):not(:disabled),
    input[type=radio]:hover:not(:checked):not(:disabled) {
        --bc: var(--color-border-hover);
    }

    input[type=checkbox]:focus,
    input[type=radio]:focus {
        box-shadow: 0 0 0 var(--focus);
    }

    input[type=checkbox]:not(.switch),
    input[type=radio]:not(.switch) {
        width: 21px;
    }

    input[type=checkbox]:not(.switch):after,
    input[type=radio]:not(.switch):after {
        opacity: var(--o, 0);
    }

    input[type=checkbox]:not(.switch):checked,
    input[type=radio]:not(.switch):checked {
        --o: 1;
    }

    input[type=checkbox] + label,
    input[type=radio] + label {
        font-size: 14px;
        line-height: 21px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;
    }

    input[type=checkbox]:not(.switch) {
        border-radius: 7px;
    }

    input[type=checkbox]:not(.switch):after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
    }

    input[type=checkbox]:not(.switch):checked {
        --r: 43deg;
    }

    input[type=checkbox].switch {
        width: 38px;
        border-radius: 11px;
    }

    input[type=checkbox].switch:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--color-input-border));
        transform: translateX(var(--x, 0));
    }

    input[type=checkbox].switch:checked {
        --ab: var(--active-inner);
        --x: 17px;
    }

    input[type=checkbox].switch:disabled:not(:checked):after {
        opacity: 0.6;
    }

    input[type=radio] {
        border-radius: 50%;
    }

    input[type=radio]:after {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background: var(--active-inner);
        opacity: 0;
        transform: scale(var(--s, 0.7));
    }

    input[type=radio]:checked {
        --s: .5;
    }
}

/* /Space Forms*/


/* SP5 icons system
------- ------- ------- ------- ------- ------- -------*/
/* v2 */

[class*='spis-'] {
    stroke: var(--color-icon-grey);
    fill: none;
    flex-shrink: 0;
}

[class*='spis-']:hover {
    stroke: var(--color-icon--active);
}

.spis {
    stroke: var(--color-icon-grey);
    fill: none;
}

.spis-16 {
    width: 16px;
    height: 16px;
}

.spis-24 {
    width: 24px;
    height: 24px;
}

.spis-32 {
    width: 32px;
    height: 32px;
}

[class*='spif-'] {
    fill: var(--color-icon-grey);
    stroke: none;
    flex-shrink: 0;
}

[class*='spif-']:hover {
    fill: var(--color-icon--active);
}

.spif {
    fill: var(--color-icon-grey);
    stroke: none;
}


.spif-16 {
    width: 16px;
    height: 16px;
}

.spif-24 {
    width: 24px;
    height: 24px;
}

.spif-32 {
    width: 32px;
    height: 32px;
}


[class*='itext-'] {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

[class*='itext-'] img {
    flex-shrink: 0;
}

[class*='itext-'] svg {
    flex-shrink: 0;
}

/* 16 */
.itext-16 img {
    width: 16px;
    flex-shrink: 0;
}

.itext-16 svg {
    width: 16px;
    height: 16px;
}

/* 24 */
.itext-24 img {
    width: 24px;
}

.itext-24 svg {
    width: 24px;
    height: 24px;
}

/* 32 */
.itext-32 img {
    width: 32px;
}

.itext-32 svg {
    width: 32px;
    height: 32px;
}

/* 40 */
.itext-40 img {
    width: 40px;
}

.itext-40 svg {
    width: 40px;
    height: 40px;
}

/* 48 */
.itext-48 img {
    width: 48px;
}

.itext-48 svg {
    width: 48px;
    height: 48px;
}

/* itext pan */
.itext-pan {
    display: flex;
    padding: var(--gap) 0;
    margin: var(--gf) 0;
}

.itext-pan [class*='itext-'] {
    margin-right: var(--gap);
}

/* /SP5 icons system */

/* Made in space5
------- ------- ------- ------- ------- ------- -------*/
.madeinsp5 {
    display: inline-block;
    background: transparent url("../img/sp5__logo.svg") no-repeat;
    background-size: contain;
    width: 56px;
    height: 33px;
    filter: grayscale(100%);
    transition: all 0.5s;
}

.madeinsp5:hover {
    filter: none;
}

/* /Made in space5 */

/* Video responsive
------- ------- ------- ------- ------- ------- -------*/
.video-responsive {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* /Video responsive */

/* SP5 LAYOUT
------- ------- ------- ------- ------- ------- ------- */
.body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

/* Header
------- ------- ------- */
.header-wrapper {
}

.header {
}

.header__logo {
}

.header-logo__img {
}

.header-logo__text {}

.header-text {
    color: var(--color-text-grey);
}

/* /Header */

/* Main, Page, Aside
------- ------- ------- */
.page {
}

.main {
}

/* /Main, Page, Aside */

/* Footer
------- ------- ------- */
.footer-wrapper {
    background: var(--color-neutral);
}

.footer {
    color: var(--color-text-grey);
    font-size: var(--size-text-note);
    line-height: 1.4;
}

.footer__left {

}

.footer__logo {
    width: 80px;
    height: 32px;
    margin: 8px 8px 4px 8px;
}

.footer__desc {
    padding: 0 0 8px 24px;
    color: var(--color-text-grey);
}

.footer__center {
    color: var(--color-text-grey);
}

.footer__right {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 8px;
}

/* /Footer */

/* MAIN NAV
------- ------- ------- */
.mobnav__text {
    margin: 0 0 0 8px;
}

.nav {
    padding: 8px 4px;
}

.compact-header .nav {
    padding: 4px 4px;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.nav a {
    color: var(--color-text);
    transition: var(--trans);
}

.nav a:hover {
    color: var(--color-secondary);
}

.mobnav {
    display: none;
    /*display: flex;*/
    align-items: center;
    padding: 8px 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.mobnav__icon {

}

.menu-icon-wrapper {
    width: 18px;
    display: block;
}

.menu-icon {
    display: block;
    width: 18px;
    height: 2px;
    transition: all 0.2s;
    background: var(--color-white);

}

.menu-icon__top {
    transition: all 0.2s;
}

.menu-icon__middle {
    transition: all 0.2s;
    margin: 3px 0;
}

.menu-icon__bottom {
    transition: all 0.2s;
}

.mobnav--active .menu-icon__bottom {
    transform: translate(0, -1px) rotate(45deg);
    transition: all 0.2s;
}

.mobnav--active .menu-icon__middle {
    background: rgba(255, 255, 255, 0);
    height: 0;
    margin: 0;
    transition: all 0.2s;
}

.mobnav--active .menu-icon__top {
    transform: translate(0, 1px) rotate(-45deg);
    transition: all 0.2s;
}

@media screen and (max-width: 768px) {
    .mobnav {
        display: flex;
    }

    .nav ul {
        display: none;
    }

    .main-nav--active ul {
        display: block;
    }

    .main-nav--active li {
        float: none;
        margin: 4px 0 8px 28px;
    }
}

/* /MAIN NAV */
/* /SP5 LAYOUT */


/* TYPOGRAPHIC
------- ------- ------- ------- ------- ------- ------- */
h1, h2, h3, h4, h5 {
    font-family: var(--wf2);
    margin: 0;
    padding: 16px 0;
    font-weight: bold;
}

h1 {
    font-size: var(--size-heading-xl);
    padding: calc(var(--size-heading-xl) / 2) 0;
}

h2 {
    font-size: var(--size-heading-l);
    padding: calc(var(--size-heading-l) / 2) 0;
}

h3 {
    font-size: var(--size-heading-m);
    padding: calc(var(--size-heading-m) / 2) 0;
}

h4 {
    font-size: var(--size-heading-s);
    padding: calc(var(--size-heading-s) / 2) 0;
}

h5 {
    font-size: var(--size-heading-xs);
    padding: calc(var(--size-heading-xs) / 2) 0;
}

p {
    line-height: 1.2;
}

/* /TYPOGRAPHIC */

/* ####### PROJECT SPECIFIED COMPONENTS ####### */

/* Product card
------- ------- ------- */
.pcard {
    text-align: center;
    background: var(--color-white);
    color: var(--color-text);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
}

.pcard:hover {
    transition: all 0.2s;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.pcard__body {
    position: relative;
}

.pcard__body, .pcard__footer {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}

.pcard__footer {
    padding: 0 16px 16px 16px;
}

.pcard__img {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.pcard__title {
    font-family: var(--wf2);
    font-size: var(--size-heading-xs);
    font-weight: bold;
    padding: 6px 0;
}

.pcard__price {
    margin: 16px 0;
    text-align: center;
    font-size: var(--size-heading-s);
    color: var(--color-text);
    height: 46px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pcard__old-price {
    display: block;
    color: var(--color-text-grey);
    text-decoration: line-through;
    font-size: var(--size-text-note);
    text-align: center;
}

.pcard__notexist {
    text-align: center;
    font-size: var(--size-heading-s);
    color: var(--color-red);
}

.pcard__pad {
    padding: 8px 0;
    text-align: center;
}

a.pcard__btn {
    display: inline-flex;
    background: var(--color-primary);
    color: var(--color-white);
    cursor: pointer;
    padding: 6px 24px;
    border-radius: 4px;
    border: none;
    text-align: center;
    transition: var(--trans);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
}

a.pcard__btn:hover {
    background: var(--color-primary);
    color: var(--color-white);
    transition: var(--trans);
}

.pcard-icon {
    width: 24px;
    height: 20px;
    background-size: cover;
    margin: 0 4px;
}

.label-box {
    position: absolute;
    top: 24px;
    left: 0;
    display: flex;
    flex-direction: column;
}

.label {
    margin: 0 0 8px 0;
}

.label--new {
    background: var(--color-secondary);
    color: var(--color-text);
    box-sizing: border-box;
    padding: 4px 32px;
}

.label--hit {
    width: 33px;
    height: 16px;
    background-size: cover;
}

.label--discount {
    width: 93px;
    height: 16px;
    background-size: cover;
}

@media screen and (max-width: 768px) {
    .pcard {
        margin: 0 16px;
    }
}

/* /Product card */

/* Crumbs
------- ------- ------- */
.breadcrumb {
    font-size: var(--size-text-note);
    line-height: 120%;
    color: var(--color-text-grey);
    margin: 24px 0 16px 0;
    padding: 0;
    display: inline-flex;
    gap: var(--gf);
}

.breadcrumb a {
    color: var(--color-text-accent);
}

.breadcrumb a:hover {
    color: var(--color-link);
}

.breadcrumb li {
    list-style: none;
}

.breadcrumb li:after {
    content: '/';
    margin: 0 0 0 6px;
    color: var(--color-text-grey);
}

.breadcrumb li:last-child:after {
    content: '';
}

/* /Crumbs */

/* Pagination */
.pagination {
    padding: var(--gap) 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--gf);

    column-gap: calc(var(--gf) * 2);
    list-style: none;
}

.page-item a {
    padding: 8px 12px;
    background: var(--color-bg);
    border-radius: 4px;
    transition: var(--trans);
    color: var(--color-text);
    display: block;
}

.page-item a:hover {
    background: var(--color-primary);
    color: var(--color-white);
}

.page-item + .active a {
    background: var(--color-primary);
    color: var(--color-white);
}

.page-item + .active a:hover {
    background: var(--color-primary-dark);
}

/* /Pagination */
/* /PROJECT SPECIFIED COMPONENTS */

/* MISC start:
------- ------- ------- ------- ------- ------- -------*/


/* =========================== MEDIA ====================================== */
@media screen and (max-width: 768px) {

}

