/*
  ____   ____    _     ____  _____    ____
 / ___| |  _ \  / \   / ___|| ____|  | ___|
 \___ \ | |_) |/ _ \ | |    |  _|    |___ \
  ___) ||  __// ___ \| |___ | |___    ___) |
 |____/ |_|  /_/   \_\\____||_____|  |____/

 space 5 ♦ CSS
 [Astrum Template]

*/

/*   Base settings
------- ------- ------- ------- ------- ------- ------- -------*/
/*   :: import ---   */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap');

/*   :: VARS ---   */
:root {
    /* Theme colors */
    --color-primary: #222e4e;
    --color-secondary: #05e745;
    --color-accent: #1961af;
    --color-dark: #192a3e;
    --color-white: #ffffff;
    --color-neutral: #EFF2F6;
    --color-placeholder: #DFE4EA;
    --color-bg: #e5e5e5;
    --color-text-grey: #737373;

    /*Theme-shades*/
    --color-primary-light: #30406f;
    --color-primary-dark: #1a233b;
    --color-secondary-light: #0afc4c;
    --color-secondary-dark: #04cd3d;

    /* Fonts */
    --wf: 'Roboto', sans-serif;
    --wf2: 'Montserrat', sans-serif;
    --color-text-heading: var(--color-primary);
    --color-text: var(--color-dark);
    --color-text-accent: var(--color-accent);

    /* Fonts sizes */
    --size-text: 1rem;
    --size-text-note: 0.8125rem;
    --size-heading-xl:3rem;
    --size-heading-l:2.5rem;
    --size-heading-m:2rem;
    --size-heading-s:1.5rem;
    --size-heading-xs:1.125rem;

    /* Project colors */
    --color-link: var(--color-primary);
    --color-link-hover: var(--color-accent);
    --color-link-active: var(--color-accent);

    /* Bg colors */

    /* SP5 DEV*/
    --color-sp5-dev-bg: #05e745;
    --color-sp5-dev-text: #222e4e;

    /* Interface */
    --color-border: var(--color-placeholder);
    --color-input-bg: var(--color-placeholder);
    --color-input-border: var(--color-placeholder);
    --color-input-text: var(--color-text);
    --color-label-text: var(--color-primary);
    --color-input-placeholder-text: var(--color-text-grey);
    --color-table-black: var(--color-text);
    --color-table-grey: var(--color-text-grey);
    --color-icon-grey: var(--color-text-grey);
    --color-icon--active: var(--color-accent);
    --thover: rgba(0, 0, 0, 0.1); /*transparent hover*/
    --trans: all 0.2s; /*transition delay*/

    /* UI colors */
    --color-yellow: #ffb946;
    --color-red: #f7685b;
    --color-green: #2ed47a;
    --color-blue: #104ae0;
    --color-purple: #885af8;

    /* Buttons */
    --color-btn-bg: var(--color-primary);
    --color-btn-border: var(--color-primary);
    --color-btn-text: var(--color-white);
    --color-btn-ghost-text: var(--color-text-grey);
    --color-btn-shadow: rgba(37, 193, 252, 0.4);

    /* Objects */
    --gf: 8px; /* grid flow */
    --gap: 16px; /* grid gap */
    --header-height: 48px;
    --wid: 1280px; /* max-width of content */
}


/*  TECH
------- ------- ------- ------- ------- ------- ------- -------*/
* {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    color: var(--color-text);
    font-family: var(--wf), Helvetica, Arial, sans-serif;
    font-size: var(--size-text);
    background: var(--color-bg);
    margin: 0;
    padding: 0;
}

.wid {
    max-width: var(--wid);
    min-width: 748px;
    margin: 0 auto;
}

.wf {
    font-family: var(--wf);
}

.wf2 {
    font-family: var(--wf2);
}

.cimg {
    text-align: center;
}

.nwp {
    white-space: nowrap;
}

.hide-on-mobile {
    display: block;
}

.show-on-mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .wid {
        max-width: 100%;
        min-width: 100%;
    }

    .hide-on-mobile {
        display: none;
    }

    .show-on-mobile {
        display: block;
    }
}


/* PADS */
.pad-1 {
    width: 100%;
    height: 1px;
}

.pad-4 {
    width: 100%;
    height: 4px;
}

.pad-1x {
    width: 100%;
    height: var(--gf);
}

.pad-2x {
    width: 100%;
    height: calc(var(--gf) * 2);
}

.pad-3x {
    width: 100%;
    height: calc(var(--gf) * 3);
}

.pad-4x {
    width: 100%;
    height: calc(var(--gf) * 4);
}

.pad-5x {
    width: 100%;
    height: calc(var(--gf) * 5);
}

.pad-6x {
    width: 100%;
    height: calc(var(--gf) * 6);
}

.pad-8x {
    width: 100%;
    height: calc(var(--gf) * 8);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: var(--color-link);
    text-decoration: none;
    transition: var(--trans);
}

a:hover {
    color: var(--color-link-hover);
    transition: var(--trans);
}

/* todo везде установить одинаковый transition   */

/*todo разобраться с псевдоклассами ссылок*/
/*

a:link {
    color: var(--color-link);
}

a:visited {
    color: var(--color-link);
}

a:active {
    color: var(--color-link);
}*/

/* SP5 LAYOUT */
.body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;

}

/* header */
.header-wrapper {
    background: var(--color-primary);
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.header__logo {
    margin: 8px;
}

.header-text {
    color: var(--color-text-grey);
}

/* /header */
.page {
}

.main {
}


/*footer*/
.footer-wrapper {
    background: var(--color-neutral);

}

.footer {
    color: var(--color-text-grey);
    font-size: var(--size-text-note);
    line-height: 1.4;
}

.footer__left {

}

.footer__logo {
    width: 80px;
    height: 32px;
    margin: 8px 8px 4px 8px;
}

.footer__desc {
    padding: 0 0 8px 24px;
    color: var(--color-text-grey);

}

.footer__center {
    color: var(--color-text-grey);
}

.footer__right {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 8px;
}

/* /footer */

.test {
    border: 1px solid #90a0b7;
}

/* MAIN NAV */


.mobnav__text {
    margin: 0 0 0 8px;
}

.nav {
    padding: 8px 4px;
    box-sizing: border-box;
}

.compact-header .nav {
    padding: 4px 4px;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.nav li {
    margin: 0 32px 0 0;
}

.nav a {
    color: var(--color-white);
    transition: var(--trans);
}

.nav a:hover {
    color: var(--color-secondary);
}

.mobnav {
    display: none;
    /*display: flex;*/
    align-items: center;
    padding: 8px 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.mobnav__icon {

}

.menu-icon-wrapper {
    width: 18px;
    display: block;
}

.menu-icon {
    display: block;
    width: 18px;
    height: 2px;
    transition: all 0.2s;
    background: var(--color-white);

}

.menu-icon__top {
    transition: all 0.2s;
}

.menu-icon__middle {
    transition: all 0.2s;
    margin: 3px 0;
}

.menu-icon__bottom {
    transition: all 0.2s;
}

.mobnav--active .menu-icon__bottom {
    transform: translate(0, -1px) rotate(45deg);
    transition: all 0.2s;
}

.mobnav--active .menu-icon__middle {
    background: rgba(255, 255, 255, 0);
    height: 0;
    margin: 0;
    transition: all 0.2s;
}

.mobnav--active .menu-icon__top {
    transform: translate(0, 1px) rotate(-45deg);
    transition: all 0.2s;
}

@media screen and (max-width: 768px) {
    .mobnav {
        display: flex;
    }

    .nav ul {
        display: none;
    }

    .main-nav--active ul {
        display: block;
    }

    .main-nav--active li {
        float: none;
        margin: 4px 0 8px 28px;
    }
}


/* SP5 GRID */

.body-grid {

}

.grid-wr {
    display: grid;
    grid-template-columns: 1fr minmax(320px, var(--wid)) 1fr;
}

.grid-a {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: calc(var(--gf) * 2);
}

.grid-line {
    grid-column: 1/-1;
}

.grid-a240 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: calc(var(--gf) * 2);
}

[class*='grid-c-'] {
    display: grid;
    grid-gap: calc(var(--gf) * 2);
}

.grid-c-2 {
    grid-template-columns: 1fr 1fr;
}

.grid-c-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-c-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-c-5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-c-6 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-demo {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 768px) {
    [class*='grid-c-'] {
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }
}


/* TYPOGRAPHIC
------- ------- ------- ------- ------- ------- ------- -------*/
h1, h2, h3, h4, h5 {
    font-family: var(--wf2);
    margin: 0;
    padding: 16px 0;
    font-weight: bold;
}

h1 {
    font-size: var(--size-heading-xl);
    padding: calc(var(--size-heading-xl) / 2) 0;
}
h2 {
    font-size: var(--size-heading-l);
    padding: calc(var(--size-heading-l) / 2) 0;
}
h3 {
    font-size: var(--size-heading-m);
    padding: calc(var(--size-heading-m) / 2) 0;
}
h4 {
    font-size: var(--size-heading-s);
    padding: calc(var(--size-heading-s) / 2) 0;
}
h5 {
    font-size: var(--size-heading-xs);
    padding: calc(var(--size-heading-xs) / 2) 0;
}

p {
    font-size: var(--size-text);
    line-height: 1.2;
}

/* BUTTONS
------- ------- ------- ------- ------- ------- ------- -------*/
.btn, a.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--gf);
    padding: calc(var(--gf) * 1.4) calc(var(--gf) * 4);
    border-radius: var(--gf);
    border: 1px solid transparent;
    cursor: pointer;
    color: var(--color-btn-text);
    background: var(--color-btn-bg);
    transition: var(--trans);
    font-size: var(--size-text);
    line-height: 1;
    font-family: inherit;
}

.btn:hover {
    transition: var(--trans);
    background: var(--color-primary-dark);
    color: var(--color-btn-text);
}


/* btn svg */
.btn svg {
    fill: none;
    stroke: var(--color-btn-text);
    width: calc(var(--gf) * 3);
    height: calc(var(--gf) * 3);
    /*margin-right: var(--gf);*/
}

/* btn img */
.btn img {
    width: calc(var(--gf) * 3);
    height: calc(var(--gf) * 3);
    /*margin-right: var(--gf);*/
}

/* btn states */
.btn:focus {
    box-shadow: 0 4px 8px 1px var(--color-btn-shadow);
}

.btn:disabled {
    color: var(--color-text-grey);
    background: var(--color-neutral);
    cursor: auto;
    box-shadow: none;
}


/* btn sizes */
.btn--micro {
    padding: 0;
    font-size: var(--size-text-note);
    background: none;
    border: none;
    color: var(--color-icon-grey);
}

.btn--micro svg {
    width: calc(var(--gf) * 2);
    height: calc(var(--gf) * 2);
    stroke: var(--color-icon-grey);
}

.btn--micro:hover {
    color: var(--color-text);
    background: none;
}

.btn--micro:hover svg {
    stroke: var(--color-text);
}


.btn--s {
    padding: var(--gf) calc(var(--gf) * 2);
    font-size: var(--size-text-note);
}

.btn--s svg {
    width: calc(var(--gf) * 2);
    height: calc(var(--gf) * 2);
}


.btn--l {
    padding: calc(var(--gf) * 2) calc(var(--gf) * 6);
    font-size: var(--size-heading-xs);
    gap: calc(var(--gf) * 2);
}

.btn--l svg {
    width: calc(var(--gf) * 4);
    height: calc(var(--gf) * 4);
    /*margin-right: calc(var(--gf) * 2);*/
}

/* btn types */


.btn--ui {
    border: none;
    background: none;
}

.btn--ui svg {
    stroke: var(--color-icon-grey);
    margin: 0;
}

.btn--ui:hover {
    background: var(--thover);
}

.btn--ghost {
    background: transparent;
    color: var(--color-btn-ghost-text);
    border: 1px solid var(--color-btn-border);
}

.btn--ghost svg {
    stroke: var(--color-btn-ghost-text);
}

.btn--ghost:hover {
    background: var(--color-btn-bg);
    color: var(--color-btn-text);
    border-color: transparent;
}

.btn--ghost:hover svg {
    stroke: var(--color-btn-text);
}


.btn--shadow {
    box-shadow: 0 4px 8px 1px var(--color-btn-shadow);
}

.btn--shadow:hover {
    box-shadow: 0 8px 16px 2px var(--color-btn-shadow);
}

/* btn mobile */

/* btn group */

.btn-pan {
    display: flex;
    padding: calc(var(--gf) * 2) 0;
    margin: var(--gf) 0;
    gap: var(--gap);
}

.btn-pan--center {
    justify-content: center;
}

.btn-pan--right {
    justify-content: flex-end;
}

.btn-pan--col {
    flex-flow: column;
}

.btn-pan--col .btn {
    gap: var(--gap);
}

.btn-pan--col .btn:last-child {
    margin: 0;
}

/* btn controls ----- */

/* radio-group */
.sp-radio-group {
    display: inline-block;
    overflow: hidden;
}

.sp-radio-group__item {
    display: inline-block;
    float: left;
}

.sp-radio-group input[type=radio] {
    display: none;
}

.sp-radio-group label {
    display: inline-block;
    cursor: pointer;
    padding: calc(var(--gf) * 2) calc(var(--gf) * 4);
    /*line-height: 32px;*/
    border: 1px solid var(--color-btn-border);
    border-right: none;
    user-select: none;
}

.sp-radio-group .sp-radio-group__item:first-child label {
    border-radius: 8px 0 0 8px;
}

.sp-radio-group .sp-radio-group__item:last-child label {
    border-radius: 0 8px 8px 0;
    border: 1px solid var(--color-btn-border);
}

/* Checked */
.sp-radio-group input[type=radio]:checked + label {
    background: var(--color-btn-bg);
    color: var(--color-btn-text);
}

/* Hover */
.sp-radio-group label:hover {
    background: var(--color-btn-bg);
    color: var(--color-btn-text);
}

/* Disabled */
.sp-radio-group input[type=radio]:disabled + label {
    background: var(--color-neutral);
    color: var(--color-text-grey);
}

/* toggle */
.sp-toggle {
    display: inline-block;
    overflow: hidden;
}

.sp-toggle__item {
    float: left;
    display: inline-block;
}

.sp-toggle__item input[type=radio] {
    display: none;
}

.sp-toggle__item label {
    display: inline-block;
    padding: calc(var(--gf) * 2) calc(var(--gf) * 4);
    border: 1px solid var(--color-btn-border);
    border-right: none;
    cursor: pointer;
    user-select: none;
}

.sp-toggle .sp-toggle__item--off label {
    border-radius: 6px 0 0 6px;
}

.sp-toggle .sp-toggle__item--on label {
    border-radius: 0 6px 6px 0;
    border-right: 1px solid var(--color-btn-border);
}

/* Checked */
.sp-toggle .sp-toggle__item--off input[type=radio]:checked + label {
    background: var(--color-red);
}

.sp-toggle .sp-toggle__item--on input[type=radio]:checked + label {
    background: var(--color-green);
}

/* /BUTTONS */

/* SPACE FORMS
------- ------- ------- ------- ------- ------- ------- -------*/
.sf {
}

.sf__form {
    box-sizing: border-box;
}

.sf__fieldset {
    margin: 32px 0 0 0;
    border: 1px solid var(--color-border);
    padding: 16px;
    box-sizing: border-box;
}

.sf__legend {
    font-size: var(--size-heading-xs);
}

.sf__line {
    margin: 8px 0;
}

.sf__label {
    display: block;
    color: var(--color-label-text);
    font-size: var(--size-text);
    margin-top: 16px;
    padding: 0 0 4px 0;
}

.sf__input, .sf__textarea {
    border: 1px solid var(--color-input-border);
}

.sf__input {
    padding: 4px 8px;
}

.sf__input::placeholder {
    color: var(--color-input-placeholder-text);
    font-family: inherit;
}

.sf__textarea {
    width: 50%;
    padding: 4px 8px;
}

/* /Space Forms*/


/* SP5 icons system
------- ------- ------- ------- ------- ------- ------- -------*/

/* v2 */

[class*='spis-'] {
    stroke: var(--color-icon-grey);
    fill: none;
}

[class*='spis-']:hover {
    stroke: var(--color-icon--active);
}

.spis {
    stroke: var(--color-icon-grey);
    fill: none;
}

.spis-16 {
    width: 16px;
    height: 16px;
}

.spis-24 {
    width: 24px;
    height: 24px;
}

.spis-32 {
    width: 32px;
    height: 32px;
}

[class*='spif-'] {
    fill: var(--color-icon-grey);
    stroke: none;
}

[class*='spif-']:hover {
    fill: var(--color-icon--active);
}

.spif {
    fill: var(--color-icon-grey);
    stroke: none;
}


.spif-16 {
    width: 16px;
    height: 16px;
}

.spif-24 {
    width: 24px;
    height: 24px;
}

.spif-32 {
    width: 32px;
    height: 32px;
}


[class*='itext-'] {
    display: inline-flex;
    align-items: center;
}

[class*='itext-'] img {
    flex-shrink: 0;
}

[class*='itext-'] svg {
    flex-shrink: 0;
}

/* Only img & svg */
[class*='itext-'].oimg img {
    margin: 0;
}

[class*='itext-'].oimg svg {
    margin: 0;
}

/* 16 */
.itext-16 img {
    width: 16px;
    margin: 0 4px 0 0;
    flex-shrink: 0;
}

.itext-16 svg {
    width: 16px;
    height: 16px;
    margin: 0 4px 0 0;
}

/* 24 */
.itext-24 img {
    width: 24px;
    margin: 0 8px 0 0;
}

.itext-24 svg {
    width: 24px;
    height: 24px;
    margin: 0 8px 0 0;
}

/* 32 */
.itext-32 img {
    width: 32px;
    margin: 0 8px 0 0;
}

.itext-32 svg {
    width: 32px;
    height: 32px;
    margin: 0 8px 0 0;
}

/* 40 */
.itext-40 img {
    width: 40px;
    margin: 0 8px 0 0;
}

.itext-40 svg {
    width: 40px;
    height: 40px;
    margin: 0 8px 0 0;
}

/* 48 */
.itext-48 img {
    width: 48px;
    margin: 0 8px 0 0;
}

.itext-48 svg {
    width: 48px;
    height: 48px;
    margin: 0 8px 0 0;
}

/* itext pan */
.itext-pan {
    display: flex;
    padding: 16px 0;
    margin: 8px 0;
}

.itext-pan [class*='itext-'] {
    margin-right: 16px;
}

/* /SP5 icons --------------------------------------------*/


/* ########### Mini MODS ###############  */

/* made in space5 ------ */
.madeinsp5 {
    display: inline-block;
    background: transparent url("../img/sp5__logo.svg") no-repeat;
    background-size: contain;
    width: 56px;
    height: 33px;
    filter: grayscale(100%);
    transition: all 0.5s;
}

.madeinsp5:hover {
    filter: none;
}
/* /made in space5 */

/* video responsive ------ */
.video-responsive {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* /video responsive */


/* ################### PROJECT SPECIFIED COMPONENTS ################### */

/* Product card */
.pcard {
    text-align: center;
    background: var(--color-white);
    color: var(--color-text);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.pcard:hover {
    transition: all 0.2s;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.pcard__body {
    position: relative;
}

.pcard__body, .pcard__footer {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}

.pcard__footer {
    padding: 0 16px 16px 16px;
}

.pcard__img {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.pcard__title {
    font-family: var(--wf2);
    font-size: var(--size-heading-xs);
    font-weight: bold;
    padding: 6px 0;
}

.pcard__price {
    margin: 16px 0;
    text-align: center;
    font-size: var(--size-heading-s);
    color: var(--color-text);
    height: 46px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pcard__old-price {
    display: block;
    color: var(--color-text-grey);
    text-decoration: line-through;
    font-size: var(--size-text-note);
    text-align: center;
}

.pcard__notexist {
    text-align: center;
    font-size: var(--size-heading-s);
    color: var(--color-red);
}

.pcard__pad {
    padding: 8px 0;
    text-align: center;
}

a.pcard__btn {
    display: inline-flex;
    background: var(--color-primary);
    color: var(--color-white);
    cursor: pointer;
    padding: 6px 24px;
    border-radius: 4px;
    border: none;
    text-align: center;
    transition: var(--trans);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
}

a.pcard__btn:hover {
    background: var(--color-primary);
    color: var(--color-white);
    transition: var(--trans);
}

.pcard-icon {
    width: 24px;
    height: 20px;
    background-size: cover;
    margin: 0 4px;
}

.label-box {
    position: absolute;
    top: 24px;
    left: 0;
    display: flex;
    flex-direction: column;
}

.label {
    margin: 0 0 8px 0;
}

.label--new {
    background: var(--color-sp5-dev-bg);
    color: var(--color-sp5-dev-text);
    box-sizing: border-box;
    padding: 4px 32px;
}

.label--hit {
    width: 33px;
    height: 16px;
    background-size: cover;
}

.label--discount {
    width: 93px;
    height: 16px;
    background-size: cover;
}

@media screen and (max-width: 768px) {
    .pcard {
        margin: 0 16px;
    }
}
/* /Pcard -----------------------------*/

/* Crumbs -----------------------------*/
.breadcrumb {
    font-size: var(--size-text-note);
    line-height: 120%;
    color: var(--color-text-grey);
    margin: 24px 0 16px 0;
    padding: 0;
    display: inline-flex;
    gap: var(--gf);
}

.breadcrumb a {
    color: var(--color-text-accent);
}

.breadcrumb a:hover {
    color: var(--color-link);
}

.breadcrumb li {
    list-style: none;
}

.breadcrumb li:after {
    content: '/';
    /*display: inline-block;*/
    margin: 0 0 0 6px;
    color: var(--color-text-grey);
}

.breadcrumb li:last-child:after {
    content: '';
}

/* /Crumbs -----------------------------*/


/* MISC start :*/


/* =========================== MEDIA ====================================== */
@media screen and (max-width: 768px) {

}

