/*
  ____   ____    _     ____  _____    ____
 / ___| |  _ \  / \   / ___|| ____|  | ___|
 \___ \ | |_) |/ _ \ | |    |  _|    |___ \
  ___) ||  __// ___ \| |___ | |___    ___) |
 |____/ |_|  /_/   \_\\____||_____|  |____/

 space 5 ♦ CSS
 [Hub Template]

*/

/*  Template styles
------- ------- ------- ------- ------- ------- ------- -------*/
.body {
}

@font-face {
    font-family: pexelgrotesk;
    src: url(../demo/fonts/PexelGrotesk-Regular.woff);
}

@font-face {
    font-family: unbounded;
    src: url(../demo/fonts/unbounded/Unbounded-Medium.woff2);
}

:root {
    --wf3: pexelgrotesk;
    --wf4: unbounded;
}

.header-wrapper {
    border-bottom: 1px solid var(--color-border);
    position: sticky;
    top: 0;
    width: 100%;

    z-index: 999;

    background: rgba(255, 255, 255, 0.73);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
}

.header {
    margin: 0 auto;
    height: var(--header-height);
    display: grid;
    grid-template-columns: 2fr 4fr 6fr;
    /*grid-template-columns: 2fr 10fr;*/
    gap: var(--gap);
}

.header__left {

    display: flex;
    align-items: center;
    height: var(--header-height);

    border-right: 1px solid var(--color-border);
    padding-right: var(--gap);
}

.header__center {
    display: flex;
    align-items: center;
    height: var(--header-height);
    border-right: 1px solid var(--color-border);
}

.header__right {
    display: flex;
    align-items: center;
    height: var(--header-height);

    padding-right: var(--gap);
}

.header-logo {
    margin: 8px;
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.header-logo__img {
    max-width: 40px;
    flex-shrink: 0;
    transition: var(--trans);
}

.header-logo__text {
    font-family: var(--wf4);
    color: var(--color-text);
    font-size: 1.2rem;
    transition: var(--trans);
}

.header-center__text {
    font-family: var(--wf3);
    transition: var(--trans);
}

.compact-header {
    --header-height: 40px;
}

.compact-header .header-logo__img {
    height: 32px;
    transition: var(--trans);

}

.compact-header .header-logo__text {
    font-size: var(--size-text-note);
    transition: var(--trans);

}

.compact-header .header-center__text {
    font-size: var(--size-text-note);
    transition: var(--trans);

}

.page {
}


.footer-wrapper {
    background: transparent;
    border-top: 1px solid var(--color-border);
}
.footer-logo {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: var(--gf);
    filter: grayscale(100%);
    transition: var(--trans);
}
.footer-logo:hover {
    filter: none;
}
.footer-logo__img {
    width: 32px;
    height: 32px;
    margin: 8px 8px 4px 8px;
}

.footer-logo__text {
    font-size: var(--size-text-note);
    transition: var(--trans);
}

.footer__desc {
    padding: 0 0 8px 24px;
    color: var(--color-text-grey);
}


/* /------- ------- ------- ------- ------- ------- ------- -------*/

.test {
    border: 1px solid #90a0b7;
}


.hub {
    display: grid;
    grid-template-columns: 2fr 10fr;
    gap: var(--gap);
    height: 100%;
}

.hub__aside {
    background: transparent;
    color: #1a3c4d;
    height: 100%;
    padding: 16px;
    border-right: 1px solid var(--color-border);
}

.hub__aside a {
    color: #fff;
}

.hub__aside a:hover {
    color: #fff;
    text-decoration: underline;
}

.hub__aside ul {
    list-style: none;
    line-height: 1.5;
    text-transform: capitalize;
}

.hub__main {
}


.hub__section {
    max-width: 1200px;
    min-width: 748px;
    margin: 0 auto;
    padding: 24px;
}

.hub__code {
    border: 1px dashed #666666;
    border-radius: 4px;
    padding: 4px 8px;
    background: #ffffb9;
    color: #2b1e1e;
    font-family: monospace;
    white-space: nowrap;
    display: inline-flex;
}

.hub__tag {
    border-radius: 4px;
    margin: 0 16px;
    font-weight: bold;
    font-family: monospace;
    position: relative;
    font-size: 1.1rem;
    color: #0554a7;
}

.hub__tag:before {
    content: '<';
    position: absolute;
    left: -8px;
    top: 0;
    color: #1c7be2;
}

.hub__tag:after {
    content: '>';
    position: absolute;
    right: -8px;
    top: 0;
    color: #1c7be2;
}

.hub__pre-code {
    border-radius: 8px;
    margin: 16px;
    padding: 16px;
    background: #1c7be2;
    color: white;
    display: block;
    white-space: pre-wrap;
}

.grid-hub {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 48px;
    background: var(--color-white);
}

.demo-ui-pan {
    background: #d7d7d7;
    border-bottom: #cacaca 1px solid;
    border-top: #eeeeee 1px solid;
}

.hub__ul li {
    line-height: 1.5;
    padding: 4px 0;
    /*display: flex;*/
    /*align-items: center;*/
}

.hub__ul li::marker {
    color: var(--color-primary);
    font-size: 1.1rem;
}


.hub__ol li {
    line-height: 1.5;
}

.hub__ol li::marker {
    color: #989898;
    font-size: 1rem;
    padding: 4px 0;

}
.hub__ol--sprites li::marker {
    font-size: 0.7rem;
}
.hub__ol--sprites {
    /*color: var(--color-text-grey);*/
}

.hub__ol--sprites .spif {
    fill: var(--color-primary);
}
.hub__ol--sprites .spis {
    stroke: var(--color-primary);
}

.hub__grid-border {
    border-top: 1px solid #90a0b7;
    border-left: 1px solid #90a0b7;
    grid-gap: 0;
}

.hub__grid-border > div {
    border-bottom: 1px solid #90a0b7;
    border-right: 1px solid #90a0b7;
    padding: 16px;
}

.demo-icons-line {
    display: inline-flex;
    flex-wrap: wrap;
}

.demo-icons-line .itext-24 {
    margin: 8px 12px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 4px 6px;
    font-size: var(--size-text-note);
    color: var(--color-secondary);
}

.hub-btn-pan {
    display: flex;
    gap: 16px;
    align-items: center;
}

/* Layout test */
.test-header {
    color: white;
    padding: 16px;
}

.test-page {
    padding: 16px;
}

.test-footer {
    padding: 16px;
}

[class*='.test-'] {
    border: 1px solid #05e745;
}

.test-card {
    height: 180px;
    border: 1px solid orangered;
    text-align: center;
    padding: 16px;
    font-size: 2.4rem;
    color: #05e745;
}

/* /Layout test */


/* Tabs */
.sp-tabs-nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    gap: var(--gf);
}

.sp-tabs-nav__item {
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 8px;
    padding: 8px 16px;
    color: var(--color-text);
    transition: var(--trans);
}

.sp-tabs-nav__item:hover {
    background: var(--color-placeholder);
}

.sp-tabs-nav__item.is-active {
    background: var(--color-secondary);
}

.sp-tab {
    display: none;
}

.sp-tab.is-active {
    display: block;
}

/* /Tabs */

/* color boxes */
.hub-color-wrapper {

}

.hub-color-box {
}

.hub-color-box__title {
    padding: 8px 0;
    font-size: var(--color-text-heading);
    font-weight: bold;
}

.hub-color-box__body {
    border: 1px transparent;
    height: 160px;
    border-radius: 16px;
    transition: var(--trans);
    padding: 16px;
    color: var(--color-white);
}

.hub-color-box__body:hover {
    border: 1px solid rgba(255, 255, 255, 0.24);
    box-shadow: var(--sp-shadow-xl);
}

.hub-color-box__body:hover {
}

.hub-shadow-box-section-test {
    border-radius: var(--gf);
    height: 32px;
    width: 64px;
    transition: var(--trans);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--size-text-note);
    color: var(--color-text-grey);
}

.hub-shadow-box-section-test:not(:first-child):hover {
    box-shadow: var(--sp-shadow-s);
}

.hub-shadow-box-section-test--1 {
    background: var(--ui-bg-100);
}

.hub-shadow-box-section-test--2 {
    background: var(--ui-bg-200);
}

.hub-shadow-box-section-test--3 {
    background: var(--ui-bg-300);
}

.hub-shadow-box-section {
    background: transparent;
    border-radius: var(--gap);
    padding: var(--gap);
    margin: var(--gf) 0;
}

.hub-shadow-box-section-test--1:hover ~ .hub-shadow-box-section {
    background: var(--ui-bg-100);
}

.hub-shadow-box-section-test--2:hover ~ .hub-shadow-box-section {
    background: var(--ui-bg-200);
}

.hub-shadow-box-section-test--3:hover ~ .hub-shadow-box-section {
    background: var(--ui-bg-300);
}

.hub-shadow-box {
    border: 1px solid transparent;
    height: 160px;
    border-radius: 16px;
    transition: var(--trans);
    padding: 16px;
    color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background: var(--color-white);
}

.ui-bg-test-section {
    padding: var(--gap);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-white);
    border-radius: var(--gap);
}

.ui-bg-test {
    border-radius: var(--gap);
    height: 80px;
    padding: var(--gap) 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
}

.ui-bg-test:nth-child(2) {
    transform: translateX(-24px);
    z-index: 2;
}

.ui-bg-test:nth-child(3) {
    transform: translateX(-48px);
    z-index: 1;
}

/*hubber*/
.hubber {
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 999;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-image: linear-gradient(
            0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), radial-gradient(100% 283.68% at 0% 100%, rgb(252, 171, 20) 0%, rgb(250, 102, 65) 15.91%, rgb(190, 64, 192) 40.21%, rgba(80, 90, 221, 0) 100%), radial-gradient(107.24% 195.45% at 100% 0%, rgb(72, 204, 224) 0%, rgb(66, 139, 235) 28.85%, rgb(80, 90, 221) 60.18%);
    /*box-shadow: 0 0 8px rgba(0,0,0,0.2);*/
    cursor: pointer;
}

.hubber:hover {
    animation: hubber-pulse 1500ms infinite;
}

@keyframes hubber-pulse {
    0% {
        box-shadow: #ff69b4 0 0 0 0;
    }
    75% {
        box-shadow: #ff69b400 0 0 0 16px;
    }
}

.hubber__face {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    color: var(--color-white);
    font-size: var(--size-heading-xs);
}

.hubber__body {
    display: none;
    transition: var(--trans);
    padding: 16px;
    border: 1px solid mediumvioletred;
    /*width: 100px;*/
}

.hubber:hover .hubber__body {
    display: flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    right: 100%;
    top: 0;
    background: var(--color-white);
    border-radius: 8px;
    height: 48px;
}

.hubber__body-element {
    font-size: var(--size-text-note);
    display: flex;
    align-items: center;
    gap: 8px;
}

.hubber__body-color {
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
    transition: var(--trans);
    background: transparent;
    border-radius: 8px;
    padding: 2px 4px;
}

.hubber__body-color:hover {
    background: rgba(0, 0, 0, 0.16);
}

.hubber__body-color-box {
    border: 1px solid rgba(0, 0, 0, 0.4);
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.hubber-theme {
    border-radius: 8px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    background: transparent;
    transition: var(--trans);
}

.hubber-theme:hover {
    background: rgba(0, 0, 0, 0.2);
}

.hubber-theme .hubber__body-color-box:first-child {
    margin-right: -8px;
    z-index: 8;
}

.hub-table {
    border: 2px solid black;
    padding: var(--gf);
}

.bub-table-line {
    border: 1px solid green;
    display: flex;
    gap: var(--gap);
    align-items: center;
    padding: 8px;
}

.hub-table-cell {
    border: 1px solid grey;
    padding: 4px;
    min-width: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-size: var(--size-text-note);
    color: var(--color-text);
}

.hub-table-cell--demo {
    border: 1px solid goldenrod;
}


.hub-popover {
    display: none;
    background: var(--color-white);
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.hub-popover ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 1.2;
}

.hub-popover li {
    background: transparent;
    padding: 4px 8px;
    border-radius: 4px;
    transition: var(--trans);
    cursor: pointer;
}

.hub-popover li:hover {
    background: var(--color-input-bg);
}

.hub-popover--active {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
}

.sp-tab-section {
    margin: var(--gap) auto;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 0 var(--gap);
    border-radius: var(--gap);
}
.hub-demo-section {
    border: 1px dotted rgba(0,0,0,0.2);
    padding: var(--gap);
    margin: var(--gap) 0;
    border-radius: var(--gap);
    box-shadow: var(--sp-shadow-inset);
}

.hub-btn-bot-pan {
    display: flex;
    align-items: end;
    gap: var(--gap);
}

.hub-demo-forms {
 }
.hub-form-demo {
    padding: 24px;
    border-radius: var(--gap);
    box-shadow: var(--sp-shadow-s);
    background: var(--color-white);
    margin-bottom: var(--gap);
}

.hub-form__title {
    font-weight: bold;
    font-size: 1.4rem;
}
.hub-form__subtitle {
    padding: var(--gf) 0;
    color: var(--color-text-grey);
}
.hub-demo-filter {
    display: flex;
    align-items: end;
    gap: var(--gap);
    padding: var(--gap);
    margin: var(--gap) 0;
    box-shadow: var(--sp-shadow-inset);
    border-radius: var(--gap);
    background: var(--ui-bg-100);
}

.hub-demo-sort {
    padding: var(--gf) var(--gap);
}

.hub-size-arrow-hor {
    background-image: linear-gradient(to top,transparent 0, transparent 8px, var(--color-text) 8px, transparent 9px, transparent 16px);
    background-position: center;
    height: 16px;
    width: 100%;
    position: relative;
}

.hub-size-arrow-hor:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    width: 8px;
    height: 9px;
    background: var(--color-text);
    clip-path: polygon(100% 50%, 0 0, 0 100%);
}
.hub-size-arrow-hor:after {
    content: '';
    position: absolute;
    top: 3px;
    right: 0;
    width: 8px;
    height: 9px;
    background: var(--color-text);
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
}


.hub-size-arrow-vert {
    background-image: linear-gradient(to right,transparent 0, transparent 8px, var(--color-text) 8px, transparent 9px, transparent 16px);
    background-position: center;
    width: 16px;
    height: 100%;
    position: relative;
}

.hub-size-arrow-vert:before {
    content: '';
    position: absolute;
    top: 0;
    right: 3px;
    width: 9px;
    height: 8px;
    background: var(--color-text);
    clip-path: polygon(100% 0, 0 0, 50% 100%);
}
.hub-size-arrow-vert:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 3px;
    width: 9px;
    height: 8px;
    background: var(--color-text);
    clip-path: polygon(100% 100%, 0 100%, 50% 0);

}


.hub-size-table {
    display: grid;
    grid-template-columns: 300px 200px 168px 92px auto;
    align-items: stretch;
    justify-content: start;
    gap: 24px;
}
.hub-size-table--buttons {
    grid-template-columns: 200px auto auto auto auto auto auto;
}
.hub-size-table--full-size {
    grid-template-columns: 200px 1fr;
}
.hub-size-table__header {
    font-size: var(--size-text-note);
    display: flex;
    flex-direction: column;
    gap: var(--gf);
    align-items: center;
    background: #ECFFEE;
    justify-content: space-between;
}
 .hub-size-table__header--start {
     padding: var(--gap);
     background-image: linear-gradient(
             45deg,
             transparent 0,
             transparent 50%,
             var(--color-text) 1px,
             transparent 50.5%,
             transparent 100%
     );
    background-position: center;
 }


.hub-size-table__line {
    height: var(--ui-size);
}

.hub-size-table__line--s {
    height: var(--ui-size-s);
}
.hub-size-table__line--l {
    height: var(--ui-size-l);
}
.hub-size-table__line--old {
    background: rgba(252, 204, 10, 0.11);
}
.hub-size-table__line .hub-size-table-line-box{
    height: var(--ui-size);
}
.hub-size-table__line--s .hub-size-table-line-box{
    height: var(--ui-size-s);
}
.hub-size-table__line--l .hub-size-table-line-box{
    height: var(--ui-size-l);
}

.hub-size-table-line-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gf);
    font-size: var(--size-text-note);
    background: var(--ui-bg-100);
    padding: 0 4px 0 16px;
}