/*
  ____   ____    _     ____  _____    ____
 / ___| |  _ \  / \   / ___|| ____|  | ___|
 \___ \ | |_) |/ _ \ | |    |  _|    |___ \
  ___) ||  __// ___ \| |___ | |___    ___) |
 |____/ |_|  /_/   \_\\____||_____|  |____/

 space 5 ♦ CSS
 [Hub Template]

*/

/*  Template styles
------- ------- ------- ------- ------- ------- ------- -------*/
.body {
    padding-top: var(--header-height);
}

@font-face {
    font-family: pexelgrotesk;
    src: url(../demo/fonts/PexelGrotesk-Regular.woff);
}

@font-face {
    font-family: unbounded;
    src: url(../demo/fonts/unbounded/Unbounded-Medium.woff2);
}

:root {
    --wf3: pexelgrotesk;
    --wf4: unbounded;
}

.header-wrapper {
    border-bottom: 1px solid var(--color-border);
    position: fixed;
    top: 0;
    width: 100%;

    background: rgba(255, 255, 255, 0.73);
    backdrop-filter: blur(9.4px);
    -webkit-backdrop-filter: blur(9.4px);
}

.header {
    margin: 0 auto;
    height: var(--header-height);
    display: grid;
    grid-template-columns: 2fr 4fr 6fr;
    /*grid-template-columns: 2fr 10fr;*/
    gap: var(--gap);


}

.header__left {

    display: flex;
    align-items: center;
    height: var(--header-height);

    border-right: 1px solid var(--color-border);
    padding-right: var(--gap);
}

.header__center {
    display: flex;
    align-items: center;
    height: var(--header-height);
    border-right: 1px solid var(--color-border);
}

.header__right {
    display: flex;
    align-items: center;
    height: var(--header-height);

    padding-right: var(--gap);
}

.header__logo {
    margin: 8px;
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.header-logo__img {
    max-width: 40px;
    flex-shrink: 0;
}

.header-logo__text {
    font-family: var(--wf4);
    color: var(--color-text);
    font-size: 1.2rem;
}

.header-text {
    font-family: var(--wf3);
}

.compact-header {
    --header-height: 40px;
}

.compact-header .header-logo__img {
    height: 32px;
}

.compact-header .header-logo__text {
    font-size: var(--size-text-note);
}

.compact-header .header-text {
    font-size: var(--size-text-note);
}

.page {
}


.footer-wrapper {
    background: transparent;
    border-top: 1px solid var(--color-border);
}

/* /------- ------- ------- ------- ------- ------- ------- -------*/

.test {
    border: 1px solid #90a0b7;
}


.hub {
    display: grid;
    grid-template-columns: 2fr 10fr;
    gap: var(--gap);
    height: 100%;
}

.hub__aside {
    background: transparent;
    color: #1a3c4d;
    height: 100%;
    padding: 16px;
    border-right: 1px solid var(--color-border);
}

.hub__aside a {
    color: #fff;
}

.hub__aside a:hover {
    color: #fff;
    text-decoration: underline;
}

.hub__aside ul {
    list-style: none;
    line-height: 1.5;
    text-transform: capitalize;
}

.hub__main {
}


.hub__section {
    max-width: 1200px;
    min-width: 748px;
    margin: 0 auto;
    padding: 24px;
}

.hub__code {
    border: 1px dashed #666666;
    border-radius: 4px;
    padding: 4px 8px;
    background: #ffffb9;
    color: #2b1e1e;
    font-family: monospace;
    white-space: nowrap;
    display: inline-flex;
}

.hub__tag {
    border-radius: 4px;
    margin: 0 16px;
    font-weight: bold;
    font-family: monospace;
    position: relative;
    font-size: 1.1rem;
    color: #0554a7;
}

.hub__tag:before {
    content: '<';
    position: absolute;
    left: -8px;
    top: 0;
    color: #1c7be2;
}

.hub__tag:after {
    content: '>';
    position: absolute;
    right: -8px;
    top: 0;
    color: #1c7be2;
}

.hub__pre-code {
    border-radius: 8px;
    margin: 16px;
    padding: 16px;
    background: #1c7be2;
    color: white;
    display: block;
    white-space: pre-wrap;
}

.grid-hub {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 48px;
    background: var(--color-white);
}

.demo-ui-pan {
    background: #d7d7d7;
    border-bottom: #cacaca 1px solid;
    border-top: #eeeeee 1px solid;
}

.hub__ul li {
    line-height: 1.5;
    padding: 4px 0;
    /*display: flex;
    align-items: center;*/
}

.hub__ul li::marker {
    color: var(--color-primary);
    font-size: 1.1rem;
}

.hub__grid-border {
    border-top: 1px solid #90a0b7;
    border-left: 1px solid #90a0b7;
    grid-gap: 0;
}

.hub__grid-border > div {
    border-bottom: 1px solid #90a0b7;
    border-right: 1px solid #90a0b7;
    padding: 16px;
}

.demo-icons-line {
    display: inline-flex;
    flex-wrap: wrap;
}

.demo-icons-line .itext-24 {
    margin: 8px 12px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 4px 6px;
    font-size: var(--size-text-note);
    color: var(--color-secondary);
}

.hub-btn-pan {
    display: flex;
    gap: 16px;
    align-items: center;
}

/* Layout test */
.test-header {
    color: white;
    padding: 16px;
}

.test-page {
    padding: 16px;
}

.test-footer {
    padding: 16px;
}

[class*='test-'] {
    border: 1px solid #05e745;
}

.test-card {
    height: 180px;
    border: 1px solid orangered;
    text-align: center;
    padding: 16px;
    font-size: 2.4rem;
    color: #05e745;
}

/* /Layout test */


/* Tabs */
.sp-tabs-nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    gap: var(--gf);
}

.sp-tabs-nav__item {
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 8px;
    padding: 8px 16px;
    color: var(--color-text);
    transition: var(--trans);
}

.sp-tabs-nav__item:hover {
    background: var(--color-placeholder);
}

.sp-tabs-nav__item.is-active {
    background: var(--color-secondary);
}

.sp-tab {
    display: none;
}

.sp-tab.is-active {
    display: block;
}

/* /Tabs */

/* color boxes */
.hub-color-wrapper {

}

.hub-color-box {
}

.hub-color-box__title {
    padding: 8px 0;
    font-size: var(--color-text-heading);
    font-weight: bold;
}

.hub-color-box__body {
    border: 1px solid #ccc;
    height: 160px;
    border-radius: 16px;
    transition: var(--trans);
    padding: 16px;
    color: var(--color-white);
}

.hub-color-box__body:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
}

/*hubber*/
.hubber {
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 999;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-image: linear-gradient(
            0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), radial-gradient(100% 283.68% at 0% 100%, rgb(252, 171, 20) 0%, rgb(250, 102, 65) 15.91%, rgb(190, 64, 192) 40.21%, rgba(80, 90, 221, 0) 100%), radial-gradient(107.24% 195.45% at 100% 0%, rgb(72, 204, 224) 0%, rgb(66, 139, 235) 28.85%, rgb(80, 90, 221) 60.18%);
    /*box-shadow: 0 0 8px rgba(0,0,0,0.2);*/
    cursor: pointer;
}

.hubber:hover {
    animation: hubber-pulse 1500ms infinite;
}

@keyframes hubber-pulse {
    0% {
        box-shadow: #ff69b4 0 0 0 0;
    }
    75% {
        box-shadow: #ff69b400 0 0 0 16px;
    }
}

.hubber__face {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    color: var(--color-white);
    font-size: var(--size-heading-xs);
}

.hubber__body {
    display: none;
    transition: var(--trans);
    padding: 16px;
    border: 1px solid mediumvioletred;
    /*width: 100px;*/
}

.hubber:hover .hubber__body {
    display: flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    right: 100%;
    top: 0;
    background: var(--color-white);
    border-radius: 8px;
    height: 48px;
}

.hubber__body-element {
    font-size: var(--size-text-note);
    display: flex;
    align-items: center;
    gap: 8px;
}

.hubber__body-color {
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
    transition: var(--trans);
    background: transparent;
    border-radius: 8px;
    padding: 2px 4px;
}

.hubber__body-color:hover {
    background: rgba(0, 0, 0, 0.16);
}

.hubber__body-color-box {
    border: 1px solid rgba(0, 0, 0, 0.4);
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.hubber-theme {
    border-radius: 8px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    background: transparent;
    transition: var(--trans);
}

.hubber-theme:hover {
    background: rgba(0, 0, 0, 0.2);
}

.hubber-theme .hubber__body-color-box:first-child {
    margin-right: -8px;
    z-index: 8;
}

.hub-table {
    border: 2px solid black;
    padding: var(--gf);
}

.bub-table-line {
    border: 1px solid green;
    display: flex;
    gap: var(--gap);
    align-items: center;
    padding: 8px;
}

.hub-table-cell {
    border: 1px solid grey;
    padding: 4px;
    min-width: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-size: var(--size-text-note);
    color: var(--color-text);
}

.hub-table-cell--demo {
    border: 1px solid goldenrod;
}


.hub-popover {
    display: none;
    background: var(--color-white);
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.hub-popover ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 1.2;
}

.hub-popover li {
    background: transparent;
    padding: 4px 8px;
    border-radius: 4px;
    transition: var(--trans);
    cursor: pointer;
}

.hub-popover li:hover {
    background: var(--color-input-bg);
}

.hub-popover--active {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
}
