/*
  ____   ____    _     ____  _____    ____
 / ___| |  _ \  / \   / ___|| ____|  | ___|
 \___ \ | |_) |/ _ \ | |    |  _|    |___ \
  ___) ||  __// ___ \| |___ | |___    ___) |
 |____/ |_|  /_/   \_\\____||_____|  |____/

 space 5 ♦ CSS
 [Hub Template]

*/

/*  Template styles
------- ------- ------- ------- ------- ------- ------- -------*/
.body {
}

@font-face {
    font-family: pexelgrotesk;
    src: url(../demo/fonts/PexelGrotesk-Regular.woff);
}

@font-face {
    font-family: unbounded;
    src: url(../demo/fonts/unbounded/Unbounded-Medium.woff2);
}

:root {
    --wf3: pexelgrotesk;
    --wf4: unbounded;

    --wf2: var(--wf4);
}

.header-wrapper {
    border-bottom: 1px solid var(--ui-color-border);
    position: sticky;
    top: 0;
    width: 100%;

    z-index: 999;

    background: rgba(255, 255, 255, 0.73);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
}

.header {
    margin: 0 auto;
    height: var(--header-height);
    display: grid;
    grid-template-columns: 2fr 6fr 4fr 28px;
    /*grid-template-columns: 2fr 10fr;*/
    gap: var(--gap);
}

.header__left {

    display: flex;
    align-items: center;
    height: var(--header-height);

    border-right: 1px solid var(--ui-color-border);
    padding-right: var(--gap);
}

.header__center {
    display: flex;
    align-items: center;
    height: var(--header-height);
    border-right: 1px solid var(--ui-color-border);
}

.header__right {
    display: flex;
    align-items: center;
    height: var(--header-height);
    gap: var(--gf);
    padding-right: var(--gap);
}

.hub-lab-nav {
    border-radius: var(--gap);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: var(--trans);
    padding: 4px 8px;
    display: flex;
    align-items: center;
    gap: var(--gap);
    font-family: var(--wf3);
    font-size: 0.8rem;
}

.hub-lab-nav:hover {
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: var(--trans);
}

.hub-lab-nav > div:first-child {
    flex-shrink: 0;
}

.compact-header .hub-lab-nav {
    padding: 2px 8px;
    font-size: 0.8rem;
}

.compact-header .hub-lab-nav .itext-32 img {
    width: 24px;
    height: 24px;
    transition: var(--trans);
}

.header-logo {
    margin: 8px;
    display: flex;
    align-items: center;
    gap: var(--gf);
}

.header-logo__img {
    max-width: 40px;
    flex-shrink: 0;
    transition: var(--trans);
}

.header-logo__text {
    font-family: var(--wf4);
    color: var(--color-text);
    font-size: 1.2rem;
    transition: var(--trans);
    line-height: 1;
}

.header-center__text {
    font-family: var(--wf3);
    transition: var(--trans);
}

.header-center__nav {
    display: flex;
    align-items: center;
    gap: var(--gap);
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
}

.header-center-nav__item {
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 8px;
    padding: 8px 0.8vw;
    color: var(--color-text);
    transition: var(--trans);
}

.header-center-nav__item:hover {
    background: var(--ui-input-bg-disabled);
}

.header-center-nav__item.is-active {
    background: var(--color-secondary);
}

.header__git {
    display: flex;
    align-items: center;
    justify-content: center;
}

.compact-header {
    --header-height: 40px;
}

.compact-header .header-logo__img {
    height: 32px;
    transition: var(--trans);

}

.compact-header .header-logo__text {
    font-size: var(--size-text-note);
    transition: var(--trans);

}

.compact-header .header-center__text {
    font-size: var(--size-text-note);
    transition: var(--trans);

}

.page {
}


.footer-wrapper {
    background: transparent;
    border-top: 1px solid var(--ui-color-border);
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: var(--gf);
    filter: grayscale(100%);
    transition: var(--trans);
}

.footer-logo:hover {
    filter: none;
}

.footer-logo__img {
    width: 32px;
    height: 32px;
    margin: 8px 8px 4px 8px;
}

.footer-logo__text {
    font-size: var(--size-text-note);
    transition: var(--trans);
}

.footer__desc {
    padding: 0 0 8px 24px;
    color: var(--color-text-grey);
}


/* /------- ------- ------- ------- ------- ------- ------- -------*/

.test {
    border: 1px solid #f21bff;
    transition: var(--trans);
}

.test:hover {
    border: 1px solid #0471de;
}


.hub {

}

.hub-wave {
    margin: 24px 0;
}

.hub__code {
    border: 1px dashed #666666;
    border-radius: 4px;
    padding: 4px 8px;
    background: #ffffb9;
    color: #2b1e1e;
    font-family: monospace;
    white-space: nowrap;
    display: inline-flex;
}

.hub__tag {
    border-radius: 4px;
    margin: 0 16px;
    font-weight: bold;
    font-family: monospace;
    position: relative;
    font-size: 1.1rem;
    color: #0554a7;
}

.hub__tag:before {
    content: '<';
    position: absolute;
    left: -8px;
    top: 0;
    color: #1c7be2;
}

.hub__tag:after {
    content: '>';
    position: absolute;
    right: -8px;
    top: 0;
    color: #1c7be2;
}

.hub__pre-code {
    border-radius: 8px;
    margin: 16px;
    padding: 16px;
    background: #1c7be2;
    color: white;
    display: block;
    white-space: pre-wrap;
}

.grid-hub {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: var(--color-white);
}

.grid-hub-1-2 {
    display: grid;
    gap: var(--gap);
    grid-template-columns: 1fr 2fr;
}

@media screen and (max-width: 768px) {
    .grid-hub, grid-hub-1-2 {
        grid-template-columns: 1fr;
        gap: var(--gf);
    }
}

.hub-example {
    background: #e4efff;
    background-image: radial-gradient(#d1ddef 1px, transparent 1px);
    background-size: 8px 8px;
}

.hub-example .sf__fieldset {
    background: rgba(255, 255, 255, 0.7);
}

.hub-example .sp-tab-section {
    background: rgba(255, 255, 255, 0.7);
}

.demo-ui-pan {
    background: #d7d7d7;
    border-bottom: #cacaca 1px solid;
    border-top: #eeeeee 1px solid;
}

.hub-sp5sprite-demo {
    padding: 8px 24px 0 0;
}

.hub__ol {
    padding: 0;
    margin: 0;
}

.hub__ul li {
    line-height: 1.5;
    padding: 4px 0;
    /*display: flex;*/
    /*align-items: center;*/
}

.hub__ul li::marker {
    color: var(--color-primary);
    font-size: 1.1rem;
}


.hub__ol li {
    line-height: 1.5;
    list-style: none;
    counter-increment: item;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: none;
    display: flex;
    color: var(--color-text-grey);
    font-size: var(--size-text-note);
}

.hub__ol li:first-child {
    border-top-left-radius: var(--gf);
    border-top-right-radius: var(--gf);
}

.hub__ol li:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: var(--gf);
    border-bottom-right-radius: var(--gf);
}

.hub__ol li:before {
    content: counter(item) '.';
    color: #9f9f9f;
    font-size: 0.8rem;
    display: inline-flex;
    align-items: center;
    justify-content: right;
    padding: 0 4px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    width: 2rem;
}

.hub__ol li::marker {
    color: #989898;
    font-size: 1rem;
    padding: 4px 0;
    margin-right: 4px;
}

.hub__ol .itext-16 {
    padding: 4px 6px;
}

.hub__ol .itext-24 {
    padding: 4px 6px;
}

.hub__ol--sprites li::marker {
    font-size: 0.7rem;
}

.hub__ol--sprites {
    /*color: var(--color-text-grey);*/
}

.hub__ol--sprites .spif {
    fill: var(--color-primary);
}

.hub__ol--sprites .spis {
    stroke: var(--color-primary);
}

.hub-li__color {
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.hub-li-color__bg {
    height: 100%;
    width: 64px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
}

.hub-li-color__text {
    font-family: var(--wf3);
}


.hub__grid-border {
    border-top: 1px solid #90a0b7;
    border-left: 1px solid #90a0b7;
    grid-gap: 0;
    border-radius: var(--gap);
}

.hub__grid-border > div:first-child {
    border-top-left-radius: var(--gap)
}

.hub__grid-border > div:last-child {
    border-bottom-right-radius: var(--gap)
}

.hub__grid-border > div:nth-last-child(2) {
    border-bottom-left-radius: var(--gap)
}

.hub__grid-border > div:nth-child(2) {
    border-top-right-radius: var(--gap)
}

.hub__grid-border > div {
    border-bottom: 1px solid #90a0b7;
    border-right: 1px solid #90a0b7;
    padding: 16px;
}

.hub-token-item {
    width: fit-content;
    /*display: flex;*/
    align-items: center;
    border: 1px solid #188bff;
    border-radius: 16px;
    display: grid;
    grid-template-columns: 80px 220px 1fr;
    overflow: hidden;
}

.hub-token-item--long {
    grid-template-columns: 140px 220px 1fr;
}

.hub-token-item:not(:last-child) {
    margin-bottom: var(--gap);
}

.hub-token-item > div {
    padding: var(--gf);
    height: 100%;
    display: flex;
    align-items: center;
}

.hub-token-item > div:first-child {
    background: #188bff;
    color: #e1f0ff;
    padding: 8px 16px;
}

.hub-token-item > div:nth-child(2) {
    color: #188bff;
    font-size: 0.8rem;
}

.hub-token-item > div:last-child {
    font-size: 0.8rem;
    padding-right: var(--gap);
}

.hub-token-item > div:not(:last-child) {
    border-right: 1px dashed #188bff;
}

.demo-icons-line {
    display: inline-flex;
    flex-wrap: wrap;
}

.demo-icons-line .itext-24 {
    margin: 8px 12px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 4px 6px;
    font-size: var(--size-text-note);
    color: var(--color-secondary);
}

.hub-btn-pan {
    display: flex;
    gap: 16px;
    align-items: center;
}

/* Layout test */
.test-header {
    color: white;
    padding: 16px;
}

.test-page {
    padding: 16px;
}

.test-footer {
    padding: 16px;
}

[class*='.test-'] {
    border: 1px solid #05e745;
}

.test-card {
    height: 180px;
    border: 1px solid orangered;
    text-align: center;
    padding: 16px;
    font-size: 2.4rem;
    color: #05e745;
}

/* /Layout test */


/* Tabs */


.sp-tab {
    display: none;
}

.sp-tab.is-active {
    display: block;
}

/* /Tabs */

/* color boxes */
.hub-color-wrapper {

}

.hub-color-box {
}

.hub-color-box__title {
    padding: 8px 0;
    font-size: var(--color-text-heading);
    font-weight: bold;
    font-family: var(--wf3);
}

.hub-color-box__subtitle {
    color: var(--color-white);
    font-family: var(--wf3);
    padding: var(--gf);
}

.hub-color-box__body {
    border: 1px transparent;
    height: 160px;
    border-radius: 16px;
    transition: var(--trans);
    padding: 16px;
    color: var(--color-white);
    display: flex;
    align-items: center;
}

.hub-color-box__body:hover {
    border: 1px solid rgba(255, 255, 255, 0.24);
    box-shadow: var(--sp-shadow-xl);
}

.hub-color-box__sample {
    height: 100%;
    width: 100%;
}

.hub-color-box__sample--s {

    width: 50%;
}

.hub-shadow-box-section-test {
    border-radius: var(--gf);
    height: 32px;
    width: 64px;
    transition: var(--trans);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--size-text-note);
    color: var(--color-text-grey);
}

.hub-shadow-box-section-test:not(:first-child):hover {
    box-shadow: var(--sp-shadow-s);
}

.hub-shadow-box-section-test--1 {
    background: var(--ui-bg-100);
}

.hub-shadow-box-section-test--2 {
    background: var(--ui-bg-200);
}

.hub-shadow-box-section-test--3 {
    background: var(--ui-bg-300);
}

.hub-shadow-box-section {
    background: transparent;
    border-radius: var(--gap);
    padding: var(--gap);
    margin: var(--gf) 0;
}

.hub-shadow-box-section-test--1:hover ~ .hub-shadow-box-section {
    background: var(--ui-bg-100);
}

.hub-shadow-box-section-test--2:hover ~ .hub-shadow-box-section {
    background: var(--ui-bg-200);
}

.hub-shadow-box-section-test--3:hover ~ .hub-shadow-box-section {
    background: var(--ui-bg-300);
}

.hub-shadow-box {
    border: 1px solid transparent;
    height: 160px;
    border-radius: 16px;
    transition: var(--trans);
    padding: 16px;
    color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background: var(--color-white);
}

.ui-bg-test-section {
    padding: var(--gap);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-white);
    border-radius: var(--gap);
}

.ui-bg-test {
    border-radius: var(--gap);
    height: 80px;
    padding: var(--gap) 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
}

.ui-bg-test:nth-child(2) {
    transform: translateX(-24px);
    z-index: 2;
}

.ui-bg-test:nth-child(3) {
    transform: translateX(-48px);
    z-index: 1;
}

/*hubber*/
.hubber {
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 999;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-image: linear-gradient(
            0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), radial-gradient(100% 283.68% at 0% 100%, rgb(252, 171, 20) 0%, rgb(250, 102, 65) 15.91%, rgb(190, 64, 192) 40.21%, rgba(80, 90, 221, 0) 100%), radial-gradient(107.24% 195.45% at 100% 0%, rgb(72, 204, 224) 0%, rgb(66, 139, 235) 28.85%, rgb(80, 90, 221) 60.18%);
    /*box-shadow: 0 0 8px rgba(0,0,0,0.2);*/
    cursor: pointer;
}

.hubber:hover {
    animation: hubber-pulse 1500ms infinite;
}

@keyframes hubber-pulse {
    0% {
        box-shadow: #ff69b4 0 0 0 0;
    }
    75% {
        box-shadow: #ff69b400 0 0 0 16px;
    }
}

.hubber__face {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    color: var(--color-white);
    font-size: var(--size-heading-xs);
}

.hubber__body {
    display: none;
    transition: var(--trans);
    padding: 16px;
    border: 1px solid mediumvioletred;
    /*width: 100px;*/
}

.hubber:hover .hubber__body {
    display: flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    right: 100%;
    top: 0;
    background: var(--color-white);
    border-radius: 8px;
    height: 48px;
}

.hubber__body-element {
    font-size: var(--size-text-note);
    display: flex;
    align-items: center;
    gap: 8px;
}

.hubber__body-color {
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
    transition: var(--trans);
    background: transparent;
    border-radius: 8px;
    padding: 2px 4px;
}

.hubber__body-color:hover {
    background: rgba(0, 0, 0, 0.16);
}

.hubber__body-color-box {
    border: 1px solid rgba(0, 0, 0, 0.4);
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.hubber-theme {
    border-radius: 8px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    background: transparent;
    transition: var(--trans);
}

.hubber-theme:hover {
    background: rgba(0, 0, 0, 0.2);
}

.hubber-theme .hubber__body-color-box:first-child {
    margin-right: -8px;
    z-index: 8;
}

.hub-table {
    border: 2px solid black;
    padding: var(--gf);
}

.bub-table-line {
    border: 1px solid green;
    display: flex;
    gap: var(--gap);
    align-items: center;
    padding: 8px;
}

.hub-table-cell {
    border: 1px solid grey;
    padding: 4px;
    min-width: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-size: var(--size-text-note);
    color: var(--color-text);
}

.hub-table-cell--demo {
    border: 1px solid goldenrod;
}


.hub-popover {
    display: none;
    background: var(--color-white);
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.hub-popover ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 1.2;
}

.hub-popover li {
    background: transparent;
    padding: 4px 8px;
    border-radius: 4px;
    transition: var(--trans);
    cursor: pointer;
}

.hub-popover li:hover {
    background: var(--ui-input-bg);
}

.hub-popover--active {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
}

.sp-tab-section {
    margin: var(--gap) auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 var(--gap);
    border-radius: var(--gap);
}

.hub-demo-section {
    border: 1px dotted rgba(0, 0, 0, 0.2);
    padding: var(--gap);
    margin: var(--gap) 0;
    border-radius: var(--gap);
    box-shadow: var(--sp-shadow-inset);
    background: var(--color-white);
}

.hub-btn-bot-pan {
    display: flex;
    align-items: end;
    gap: var(--gap);
}

.hub-demo-forms {
}

.hub-form-demo {
    padding: 24px;
    border-radius: var(--gap);
    box-shadow: var(--sp-shadow-s);
    background: var(--color-white);
    margin-bottom: var(--gap);
}

.hub-form__title {
    font-weight: bold;
    font-size: 1.4rem;
}

.hub-form__subtitle {
    padding: var(--gf) 0;
    color: var(--color-text-grey);
}

.hub-demo-filter {
    display: flex;
    align-items: end;
    gap: var(--gap);
    padding: var(--gap);
    margin: var(--gap) 0;
    box-shadow: var(--sp-shadow-inset);
    border-radius: var(--gap);
    background: var(--ui-bg-100);
}

.hub-demo-sort {
    padding: var(--gf) var(--gap);
}

.hub-size-arrow-hor {
    background-image: linear-gradient(to top, transparent 0, transparent 8px, var(--color-text) 8px, transparent 9px, transparent 16px);
    background-position: center;
    height: 16px;
    width: 100%;
    position: relative;
}

.hub-size-arrow-hor:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    width: 8px;
    height: 9px;
    background: var(--color-text);
    clip-path: polygon(100% 50%, 0 0, 0 100%);
}

.hub-size-arrow-hor:after {
    content: '';
    position: absolute;
    top: 3px;
    right: 0;
    width: 8px;
    height: 9px;
    background: var(--color-text);
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
}


.hub-size-arrow-vert {
    background-image: linear-gradient(to right, transparent 0, transparent 8px, var(--color-text) 8px, transparent 9px, transparent 16px);
    background-position: center;
    width: 16px;
    height: 100%;
    position: relative;
}

.hub-size-arrow-vert:before {
    content: '';
    position: absolute;
    top: 0;
    right: 3px;
    width: 9px;
    height: 8px;
    background: var(--color-text);
    clip-path: polygon(100% 0, 0 0, 50% 100%);
}

.hub-size-arrow-vert:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 3px;
    width: 9px;
    height: 8px;
    background: var(--color-text);
    clip-path: polygon(100% 100%, 0 100%, 50% 0);

}


.hub-size-table {
    display: grid;
    grid-template-columns: 300px 200px 168px 92px auto;
    align-items: stretch;
    justify-content: start;
    gap: 24px;
}

.hub-size-table--buttons {
    grid-template-columns: 200px auto auto auto auto auto auto;
}

.hub-size-table--full-size {
    grid-template-columns: 200px 1fr;
}

.hub-size-table__header {
    font-size: var(--size-text-note);
    display: flex;
    flex-direction: column;
    gap: var(--gf);
    align-items: center;
    background: #ECFFEE;
    justify-content: space-between;
}

.hub-size-table__header--start {
    padding: var(--gap);
    background-image: linear-gradient(
            45deg,
            transparent 0,
            transparent 50%,
            var(--color-text) 1px,
            transparent 50.5%,
            transparent 100%
    );
    background-position: center;
}


.hub-size-table__line {
    height: var(--ui-size);
}

.hub-size-table__line--s {
    height: var(--ui-size-s);
}

.hub-size-table__line--l {
    height: var(--ui-size-l);
}

.hub-size-table__line--old {
    background: rgba(252, 204, 10, 0.11);
}

.hub-size-table__line .hub-size-table-line-box {
    height: var(--ui-size);
}

.hub-size-table__line--s .hub-size-table-line-box {
    height: var(--ui-size-s);
}

.hub-size-table__line--l .hub-size-table-line-box {
    height: var(--ui-size-l);
}

.hub-size-table-line-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gf);
    font-size: var(--size-text-note);
    background: var(--ui-bg-100);
    padding: 0 4px 0 16px;
}

/* tpl skeletton */
.hub-tsk-display {
    display: none;

    background-size: 50px 25px;
    background-image: radial-gradient(circle, rgba(119, 136, 153, 0.2) 10%, transparent 10.5%),
    radial-gradient(circle, rgba(119, 136, 153, 0.2) 1%, var(--ui-bg-100) 10.5%);
    animation: backgroundAnimation 5s linear infinite;
    padding: 32px 0;
    border-radius: 24px;
    box-shadow: var(--sp-shadow-inset);
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 25px;
    }
}

.hub-tsk {
    border-radius: var(--gf);
    background: var(--color-bg);
    width: 80%;
    padding: var(--gap);
    box-shadow: var(--sp-shadow-xl);
    margin: var(--gap) auto;
}

.hub-tsk * {
    border-radius: var(--gf);
    min-height: 1rem;
}

.hub-tsk-header, .hub-tsk-header__left, .hub-tsk-header__right {
    display: flex;
    align-items: center;
    gap: var(--gap);
}


.hub-tsk-header__logo {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: var(--color-primary)
}

.hub-tsk-header__logo-text {
    background: var(--color-text);
    width: 8rem;
    height: 1rem;
}

.hub-tsk-header__menu-item {
    background: var(--color-link);
    width: 6rem;
    height: 1rem;
}

.hub-tsk-body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: var(--gap);
    padding: var(--gap) 0;
}

.hub-tsk-body__aside {
    background: var(--ui-bg-200);
    padding: var(--gap);
}

.hub-tsk-body-aside__item {
    background: var(--color-text-grey);
    margin-bottom: var(--gf);
}

.hub-tsk-body__main {
}

.hub-tsk__card {
    padding: var(--gap);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--gf);
    background: var(--ui-bg-100);
}

.hub-tsk-card__img {
    width: 4rem;
    height: 3rem;
    border-radius: 1rem;
    background: var(--color-primary);
}

.hub-tsk-card__title {
    background: var(--color-accent);
    width: 8rem;
    height: 1rem;
}

.hub-tsk-card__item {
    background: var(--color-text);
    width: 8rem;
    height: 1rem;
}

.hub-tsk-footer {
    padding: var(--gap);
    display: flex;
    align-items: center;
    justify-content: end;
    gap: var(--gap);

}

.hub-tsk-footer__item {
    background: var(--ui-color-text-light-grey);
    width: 8rem;
    height: 1rem;
}

/* /tpl skeletton */

.hub-header-git-icon {
    fill: var(--color-text);
    transition: var(--trans);
}

.hub-header-git-icon:hover {
    fill: var(--color-accent);
}

.btn-pan--hub {
    border-radius: var(--ui-raduis);
    background: rgba(10, 174, 179, 0.3);
}

@media screen and (max-width: 1168px) {

    .hub-lab-juice-text {
        display: none;
    }

    .header-logo__text {
        font-size: 1rem;
    }

    .header-center__nav,
    .hub-lab-nav {
        gap: var(--gf);
    }
}

.header-center__text {
    color: var(--color-text-grey);
}

.footer-wrapper {
    background: var(--ui-bg-100);
}

.footer {
    color: var(--color-text-grey);
    font-size: var(--size-text-note);
    line-height: 1.4;
}


.footer__center {
    color: var(--color-text-grey);
}

.footer__right {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 8px;
}

.hub__h1 {
    display: inline-flex;
    align-items: center;
    justify-content: start;
    gap: var(--gf);
    font-size: 1.8rem;
    padding: var(--gf) 0;
}

.hub__h1 img {
    width: 80px;
    height: 80px;
}

.body--hub-lab {
    background: linear-gradient(to right, gold, #ffae00);
}

.hub-na {
    color: var(--color-red);
    font-size: 0.8rem;
}

/* VOID chamber */
.void-chamber {
    background: #e4efff;
    background-image: radial-gradient(#d1ddef 1px, transparent 1px);
    background-size: 8px 8px;
    padding: 24px;
    border-radius: 12px;
}

.main-hull {
    display: grid;
    grid-template-columns: 260px auto;
    margin: 0 auto;
    background: var(--color-white);
    box-shadow: var(--sp-shadow-m);
    /*font-family: var(--wf3);
    font-size: 0.8rem;*/
}

.command-bridge {
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap);
    width: 100%;
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
    padding: var(--gap);
    background: var(--ui-bg-100);
    /*overflow: clip;*/
}

.command-bridge__logo {
    height: 20px;
}

.warp-gateway {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.side-sanctum {
    border-right: rgba(0, 0, 0, 0.1) 1px solid;
    background: var(--ui-bg-200);
}

.sanctum__footer {
    background: var(--ui-bg-300);
    padding: 16px 0;
}
.sanctum__footer .btn-pan--sanctuary {
    margin: 0;

}
.inquisitor-gate {
    /*background: #0aaeb3;*/
}

.sanctuary-deck .sf__fieldset:not(:last-child){
    margin-bottom:0;

}

.sanctuary-cell {
    padding: 8px 16px;
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
}

.sanctuary-cell .sf__fieldset {

}
.sanctuary-cell--clr {
    border: none;
}
.sanctuary-cell--purge-signal {
    /*background: linear-gradient(180deg, #ffa123 0%, #fdd56e 16%, #ffffff 30%, #ffffff 100%);*/
}

.heresy-ward {
    outline: 2px solid rgba(255, 0, 0, 0.1);
    border-radius: var(--gf);
    padding: var(--gap);
}

.btn-pan--sanctuary {
    padding: 0 4px;
}

/* /VOID chamber */
