/*
  ____   ____    _     ____  _____    ____
 / ___| |  _ \  / \   / ___|| ____|  | ___|
 \___ \ | |_) |/ _ \ | |    |  _|    |___ \
  ___) ||  __// ___ \| |___ | |___    ___) |
 |____/ |_|  /_/   \_\\____||_____|  |____/

 space 5 ♦ CSS
 [Astrum Template]

*/
/*   Base settings
------- ------- ------- ------- ------- ------- ------- -------*/
/*   :: import ---   */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans');


/*   :: VARS ---   */
:root {
    /*fonts*/
    --wf: 'Open Sans', sans-serif;
    --wf2: 'Roboto Slab', serif;
    --color-text-heading: #001226;
    --color-text: #383838;
    --color-text-accent: #46FCFF;
    --color-text-note: #cccccc;
    --color-text-grey: #737373;

    /*project colors*/
    --color-black: #192a3e;
    --color-white: #ffffff;

    --color-link: #109cf1;
    --color-link-active: #334d6e;
    --color-accent: #46FCFF;

    --color-grey-dark: #323c47;
    --color-grey: #90a0b7;
    --color-grey-light: #c2cfe0;

    /*bg colors*/
    --color-bg-header: #0C2139;
    --color-bg-header-dark: #001226;
    --color-bg-darkblue: #020221;
    --color-bg-blue: #0057E2;
    --color-bg-grey: #f7f7f7;
    --color-sp5-tech: #93df95;

    /*interface*/
    --color-border: #46FCFF;
    --color-input-bg: #ededed;
    --color-input-border: #d6d6d6;
    --color-input-text: #707683;
    --color-label-text: #206D9B;
    --color-input-placeholder-text: #a5bbcb;
    --color-table-black: #323c47;
    --color-table-grey: #707683;
    --color-dark-blue: #334d6e;
    --color-icon-grey: #c2cfe0;

    /*ui colors*/
    --color-yellow: #ffb946;
    --color-red: #f7685b;
    --color-green: #2ed47a;
    --color-purple: #885af8;


    /*buttons*/
    /*--color-btn-bg: #3867F4;*/
    --color-btn-bg: linear-gradient(to right, #3867F4 0%, #25C1FC 100%) border-box;
    --color-btn-border: #46c4ff;
    --color-btn-text: #ffffff;
    --color-btn-ghost-text: #868686;
    --color-btn-shadow: rgba(37, 193, 252, 0.4);

    /*objects*/
    --gf: 8px; /*grid flow*/
    --header-height: 48px;

}

/*  TECH
------- ------- ------- ------- ------- ------- ------- -------*/
.wid {
    width: 100%;
    max-width: 1200px;
    min-width: 748px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.pad-1 {
    width: 100%;
    height: 1px;
}

.pad-4 {
    width: 100%;
    height: 4px;
}

.pad-8 {
    width: 100%;
    height: 8px;
}

.pad-16 {
    width: 100%;
    height: 16px;
}

.pad-24 {
    width: 100%;
    height: 24px;
}

.pad-32 {
    width: 100%;
    height: 32px;
}

.pad-40 {
    width: 100%;
    height: 40px;
}

.pad-48 {
    width: 100%;
    height: 48px;
}

.pad-64 {
    width: 100%;
    height: 64px;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: var(--color-link);
    text-decoration: none;
    transition: all 0.3s;
    filter: brightness(1);
}

a:hover {
    color: var(--color-link);
    transition: all 0.3s;
    filter: brightness(1.16);
}

.video-responsive {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.madeinsp5 {
    display: inline-block;
    background: transparent url("../img/sp5__logo.svg") no-repeat;
    background-size: contain;
    width: 56px;
    height: 33px;
    filter: grayscale(100%);
    transition: all 0.5s;
}

.madeinsp5:hover {
    filter: none;
}


/*  GENERAL LAYOUT
------- ------- ------- ------- ------- ------- ------- -------*/

html,
body {
    height: 100%;
}

body {
    color: var(--color-black);
    font-family: var(--wf), Helvetica, Arial, sans-serif;
    font-size: 100%;
    background: var(--color-white);
}

.page-wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header-wrapper {
    background: var(--color-bg-blue);
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 99999;
}

.header {
    /*margin: auto;*/
    transition: all 0.2s;
}

.header__left {
}

.header__center {
}

.header__right {
}

.header__bottom {
}

.header a {
    color: var(--color-white);
    text-transform: uppercase;
}

.header__logo {
    margin: 8px 0 8px 4px;
    width: 96px;
    transition: all 0.2s;
}

.header__caption {
    color: var(--color-white);
    padding: 16px 0 0 0;
    opacity: 0.5;
    font-size: 0.8em;
}

.header__cta {
    margin: 16px 0 0 0;
    text-transform: uppercase;
    color: var(--color-white);

}

.compact-header .header__logo {
    transition: all 0.2s;
    width: 60px;
}

.main-wrapper {
    background: var(--color-white);
    margin-top: var(--header-height);
}

.main {
    background: var(--color-white);
}


.footer-wrapper {
    background: var(--color-bg-grey);
    border-top: 1px solid transparent;
}

.footer {
    margin-top: 16px;
    color: var(--color-text-grey);
    line-height: 128%;
}

.footer a {
    color: var(--color-text-grey);
}

.footer__left {
}

.footer__center {
    font-size: 0.8em;
}

.footer__right {
    text-align: right;
}

.footer__bottom {
    text-align: center;
    padding: 8px;
    font-size: 0.8em;
}

.footer__logo {
    width: 80px;
    padding: 0 4px;
    filter: grayscale(100%);
    transition: all 0.5s;
}

.footer__logo:hover {
    filter: none;
}


/* MENU
------- ------- ------- ------- ------- ------- ------- -------*/


.mobnav__text {
    margin: 0 0 0 8px;
}

.nav {
    padding: 8px 4px;
    box-sizing: border-box;
}

.compact-header .nav {
    padding: 4px 4px;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.nav li {
    margin: 0 32px 0 0;
}

.nav a {
    color: var(--color-white);
}

.mobnav {
    display: none;
    /*display: flex;*/
    align-items: center;
    padding: 8px 0;
    cursor: pointer;
}

.mobnav__icon {
}

.menu-icon-wrapper {
    width: 18px;
}

.menu-icon {
    width: 18px;
    height: 2px;
    transition: all 0.2s;
    background: var(--color-white);

}

.menu-icon__top {
    transition: all 0.2s;
}

.menu-icon__middle {
    transition: all 0.2s;
    margin: 3px 0;
}

.menu-icon__bottom {
    transition: all 0.2s;
}

.mobnav--active .menu-icon__bottom {
    transform: translate(0, -1px) rotate(45deg);
    transition: all 0.2s;
}

.mobnav--active .menu-icon__middle {
    background: rgba(255, 255, 255, 0);
    height: 0;
    margin: 0;
    transition: all 0.2s;
}

.mobnav--active .menu-icon__top {
    transform: translate(0, 1px) rotate(-45deg);
    transition: all 0.2s;
}


/* TYPOGRAPHIC
------- ------- ------- ------- ------- ------- ------- -------*/
h1, h2, h3, h4, h5 {
    font-family: var(--wf2);
    margin: 0;
    padding: 16px 0 8px 0;
}

.main__h1 {
    font-size: 3.4em;
}

.main__h2 {
    font-size: 2em;
}

.main__h3 {
    font-size: 1.4em;
}

.main__p {
    line-height: 120%;
}

/* SPACE FORMS
------- ------- ------- ------- ------- ------- ------- -------*/
.sf {
}

.sf__form {
    box-sizing: border-box;
}

.sf__fieldset {
    margin: 32px 0 0 0;
    border: 1px solid var(--color-border);
    padding: 16px;
    box-sizing: border-box;
}

.sf__legend {
    font-size: 1.4em;
}

.sf__line {
    margin: 8px 0;
}

.sf__label {
    display: block;
    color: var(--color-label-text);
    font-size: 1em;
    margin-top: 16px;
    padding: 0 0 4px 0;
}

.sf__input, .sf__textarea {
    border: 1px solid var(--color-input-border);
}

.sf__input {
    padding: 4px 8px;
}

.sf__input::placeholder {
    color: var(--color-input-placeholder-text);
    font-family: inherit;
    font-size: 0.9rem;
}

.sf__textarea {
    width: 50%;
    padding: 4px 8px;
}


/* BUTTONS
------- ------- ------- ------- ------- ------- ------- -------*/
.btn {
    display: flex;
    align-items: center;
    color: var(--color-btn-text);
    background: var(--color-btn-bg);
    padding: calc(var(--gf) * 2) calc(var(--gf) * 4);
    border-radius: var(--gf);
    line-height: 1;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    opacity: 1;
}

.btn:hover {
    transition: all 0.2s;
    opacity: 0.95;
    color: var(--color-btn-text);
}


/* btn states */
.btn:focus {
    box-shadow: 0 4px 8px 1px var(--color-btn-shadow);
}

.btn:disabled{
    color: var(--color-text-grey);
    background: var(--color-bg-grey);
    cursor: auto;
    box-shadow: none;
}


/* btn sizes */
.btn--s {
    padding: var(--gf) calc(var(--gf) * 2);
}

.btn--l {
    padding: calc(var(--gf) * 3) calc(var(--gf) * 6);
}

/* btn types */


.btn--ui {
    border: none;
    background: none;
}

.btn--ui:hover {
    background: rgba(0,0,0,0.1);
}

.btn--ghost {
    background: transparent;
    color: var(--color-btn-ghost-text);
    border: 1px solid var(--color-btn-border);
}

.btn--ghost:hover {
    background: var(--color-btn-bg);
    color: var(--color-btn-text);
    border-color: transparent;
}

.btn--shadow {
    box-shadow: 0 0 0 0 var(--color-btn-shadow);
}

.btn--shadow:hover {
    box-shadow: 0 4px 8px 1px var(--color-btn-shadow);
}

/* btn mobile */

/* btn group */

.btn-pan {
    display: flex;
    padding: calc(var(--gf) * 2) 0;
    margin: var(--gf) 0;
}

.btn-pan .btn {
    margin-right: calc(var(--gf) * 2);
}

/* SP5 icons system
------- ------- ------- ------- ------- ------- ------- -------*/
[class*='itext-'] {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
}

/* No wrap*/
[class*='itext-'].nwp {
    white-space: normal;
}

/* Only image*/
[class*='itext-'].oimg img {
    padding: 0;
}

.itext-16 img {
    width: 16px !important;
    padding: 0 4px;
    flex-shrink: 0;
}

.itext-24 img {
    width: 24px !important;
    padding: 0 8px;
    flex-shrink: 0;
}

.itext-32 img {
    width: 32px !important;
    padding: 0 8px;
    flex-shrink: 0;
}

.itext-40 img {
    width: 40px !important;
    padding-right: 16px;
    flex-shrink: 0;
}

.itext-48 img {
    width: 48px !important;
    padding-right: 16px;
    flex-shrink: 0;
}


.itext-pan {
    display: flex;
    padding: 16px 0;
    margin: 8px 0;
}


.itext-pan [class*='itext-'] {
    margin-right: 16px;
}

/* CUSTOM TEMPLATE
------- ------- ------- ------- ------- ------- ------- -------*/


/* MEDIA
------- ------- ------- ------- ------- ------- ------- -------*/
@media screen and (max-width: 767px) {
    .mobnav {
        display: flex;
    }

    .nav ul {
        display: none;
    }

    .main-nav--active ul {
        display: block;
    }

    .main-nav--active li {
        float: none;
        margin: 4px 0 8px 28px;
    }
}


